{% load i18n %}
{% load agora_utils %}
{% autoescape off %}
{% blocktrans with to_username=to.username agora_full_name=agora.get_full_name agora_url=agora.get_link site_domain=site.domain other_user_name=other_user.username other_user_url=other_user.get_profile.get_link %}
<p>Hello {{ to_username }},</p>

<p>{{ other_user_name }} has requested admin membership at {{ agora_full_name }}. Please review this pending request.</p>

<p>Agora URL: <a href="{{ protocol }}://{{ site_domain }}{{ agora_url }}">{{ agora_full_name }}</a></p>

<p>User URL: <a href="{{ protocol }}://{{ site_domain }}{{ other_user_url }}">{{ other_user_name }}</a></p>

{% endblocktrans %}
<p>--<br/>
{% blocktrans with to_email=to.username site_name=site.name site_domain=site.domain %}This message was sent to {{ to_email }}. If you want to stop receiving these message from <a href="{{ protocol }}://{{ site_domain }}">{{ site_name }}</a>, please <a href="{{ protocol }}://{{ site_domain }}{{ cancel_emails_url }}">click here</a>
{% endblocktrans %}</p>{% endautoescape %}
