{% load i18n %}
{% load agora_utils %}
{% autoescape off %}
<p>{% blocktrans with to_username=to.username %}Hello {{ to_username }},{% endblocktrans %}</p>

<p>{{ notification_text }}.</p>

{% if extra_urls %}
    {% for url_title, url in extra_urls %}
        <p>{{ url_title }}: <a href="{{ protocol }}://{{ site.domain }}{{ url }}">{{ protocol }}://{{ site.domain }}{{ url }}</a></p>
    {% endfor %}
{% endif %}

<p>{% blocktrans with site_domain=site.domain agora_url=agora.get_link agora_full_name=agora.get_full_name %}Agora URL: <a href="{{ protocol }}://{{ site_domain }}{{ agora_url }}">{{ agora_full_name }}</a>{% endblocktrans %}</p>

<p>{% blocktrans with site_domain=site.domain other_user_url=other_user.get_profile.get_link other_user_name=other_user.username %}User URL: <a href="{{ protocol }}://{{ site_domain }}{{ other_user_url }}">{{ other_user_name }}</a>{% endblocktrans %}</p>

<p>--<br/>
{% blocktrans with to_email=to.username site_name=site.name site_domain=site.domain %}This message was sent to {{ to_email }}. If you want to stop receiving these message from <a href="{{ protocol }}://{{ site_domain }}">{{ site_name }}</a>, please <a href="{{ protocol }}://{{ site_domain }}{{ cancel_emails_url }}">click here</a>
{% endblocktrans %}</p>{% endautoescape %}
