{% load i18n %}
{% load agora_utils %}
{% autoescape off %}

<p>{% blocktrans with to_username=to.username %}Hello {{ to_username }},{% endblocktrans %}</p>

<p>{% blocktrans with election_name=election.pretty_name agora_username=election.agora.creator.username agora_name=election.agora.name site_domain=site.domain %}We have recorded a vote from you at election <a href="{{ election_url }}">{{ election_name }}</a> at <a href="{{ agora_url }}">{{ agora_username }}/{{ agora_name }}</a>. But for security reasons we need you to confirm your vote.{% endblocktrans %}</p>

<p>Your smart ballot tracker is: <strong>{{ vote_hash }}</strong>. You can check your ballot was counted by searching your smart ballot tracker in the <a href="{{ election_url }}/votes">election votes list</a>, where it will appear once your identity has been confirmed.</p>

<p>{% trans "Please, to confirm your vote click in the following URL (If you didn't emit that ballot, you can ignore this message):" %}</p>

<p>{% blocktrans %}Ballot Confirmation URL: <a href="{{ confirm_vote_url }}">{{ confirm_vote_url }}</a>{% endblocktrans %}</p>

<p>{% blocktrans with election_description=election.description|striptags %}Election description: <strong>{{ election_description }}</strong>{% endblocktrans %}</p>

<p>--<br/>
{% blocktrans with to_email=to.username site_name=site.name site_domain=site.domain %}This message was sent to {{ to_email }}. If you want to stop receiving these message from <a href="{{ protocol }}://{{ site_domain }}">{{ site_name }}</a>, please <a href="{{ protocol }}://{{ site_domain }}{{ cancel_emails_url }}">click here</a>{% endblocktrans %}</p>{% endautoescape %}
