{% load i18n %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="es">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="telephone=no" name="format-detection" />
    <link href="{{STATIC_URL}}favicon.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" />
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <title>{{ SITE_NAME }} - {% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header-wrapper">
        <div id="header">
            <h1 id="logo">
                <a href="{ % url home %}"><span>{{ SITE_NAME }}</span></a>
            </h1>
            <ul id="main-menu">
                <li id="main-menu-vote">
                    <a href="{ % url main-vote %}">{% trans "Vote" %}</a>
                </li>
                <li id="main-menu-voting-new">
                    <a href="{ % url main-vote %}">{% trans "Create Voting" %}</a>
                </li>
                <li id="main-menu-agora-new">
                    <a href="{ % url agora-new %}">{% trans "Create Agora" %}</a>
                </li>
            </ul>
            <form id="search-form" action="{ % url search-form %}">
                {% csrf_token %}
                <input type="text" value="" placeholder="{% trans "Search" %}" name="q"/>
            </form>
            <ul id="user-menu">
                <li id="user-help">
                    <a href="{ % url user-help %}">{% trans "Help" %}</a>
                </li>
                {% if not user or not user.is_authenticated %}
                <li id="user-register">
                    <a href="{ % url user-register %}">{% trans "Register" %}</a>
                </li>
                <li id="user-login">
                    <a href="{ % url user-login %}">{% trans "Log In" %}</a>
                </li>
                {% else %}
                <li id="user-preferences">
                    <a href="{ % url user-preferences %}">{{ user.username }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="sections-wrapper">
        <div id="sections">
            <ul>
                <li id="section-agoras">
                    <a href="{ % url agora-list %}">{% trans "Agoras" %}</a>
                </li>
                <li id="section-votings">
                    <a href="{ % url votings-list %}">{% trans "Votings" %}</a>
                </li>
                <li id="section-delegates">
                    <a href="{ % url delegates-list %}">{% trans "Delegates" %}</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="running-board-wrapper {% block running-board-wrapper-class %} {% endblock %}">
        <div id="running-board">
        {% block running-board  %}
        {% endblock %}
        </div>
    </div>
    <div id="content-wrapper">
        <div id="content">
            <div id="flash-messages">
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer-wrapper">
        <div id="upper-footer">
            <div id="footer-discover">
                <h5>{% trans "Discover" %}</h5>
                <ul>
                    <li id="footer-about">
                        <a href="{ % url about %}">{% trans "About" %}</a>
                    </li>
                    <li id="footer-libre-software">
                        <a href="{ % url libre-software %}">{% trans "Libre Software" %}</a>
                    </li>
                    <li id="footer-blog">
                        <a href="{ % url blog %}">{% trans "Blog" %}</a>
                    </li>
                    <li id="footer-status">
                        <a href="{ % url status %}">{% trans "Status" %}</a>
                    </li>
                </ul>
            </div>

            <div id="footer-connect">
                <h5>{% trans "Connect" %}</h5>
                <ul>
                    <li id="footer-twitter">
                        <a href="{ % url twitter %}">{% trans "Follow on twitter" %}</a>
                    </li>
                    <li id="footer-facebook">
                        <a href="{ % url twitter %}">{% trans "Follow on facebook" %}</a>
                    </li>
                    <li id="footer-contact-and-press">
                        <a href="{ % url contact-and-press %}">{% trans "Contact & Press" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="lower-footer">
            <ul>
                <li id="footer-terms-of-service">
                    <a href="{ % url terms-of-service %}">{% trans "Terms of Service" %}</a>
                </li>
                <li id="footer-privacy-policy">
                    <a href="{ % url privacy-policy %}">{% trans "Privacy Policy" %}</a>
                </li>
                <li id="footer-security">
                    <a href="{ % url security %}">{% trans "Security" %}</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>