{% load i18n agora_utils string_tags dajaxice_templatetags %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <title>{% block title %}{% endblock %} / {{ SITE_NAME }}</title>
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/png" />

    {% if DEBUG %}
    <link rel="stylesheet/less" href="{% static 'less/agora.less' %}" type="text/less" />
    <script src="{% static 'bootstrap/less-1.3.0.js' %}" type="text/javascript"></script>
    {% else %}
    <link rel="stylesheet" href="{% static 'less/agora.css' %}" type="text/css" />
    {% endif %}
</head>
<body data-userid="{{ user.pk }}">
    <!-- used to execute actions via a secure form -->
    <form style="display: none;" action="" method="POST" id="post-action-form">
        {% csrf_token %}
    </form>
    <div class="container-fluid top-bar" id="top-bar">
        <div class="container">
            <div class="row" id="headerbar">
                <div class="span7">
                    <a class="brand" href="{% url home %}">
                        <img alt="{{ SITE_NAME }}" src="{{ STATIC_URL }}img/agoralogo.png" />
                    </a>
                    <div class="btn-wrapper">
                        <div class="btn-group">
                            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
                            {% trans "Vote" %}
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for election in user.profile.get_open_elections.all %}
                                    <li><a href="{% url election-view election.agora.creator.username election.agora.name election.name %}">{{ election.pretty_name }}</a></li>
                                    {% if forloop.last %}
                                        <li class="divider"></li>
                                    {% endif %}
                                {% endfor %}
                                <li><a href="{% url election-list %}">{% trans "Find an election to vote" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            {% trans "Create election" %}
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for agora in user.agoras.all %}
                                    <li><a href="{% url election-new agora.creator.username agora.name %}">{{ agora.creator.username }}/{{ agora.name }}</a></li>
                                    {% if forloop.last %}
                                        <li class="divider"></li>
                                    {% endif %}
                                {% endfor %}
                                <li><a href="{% url agora-list %}">{% trans "Find an agora to create an election" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    {% if can_create_agoras %}
                    <a class="btn btn-primary" href="{% url agora-new %}">{% trans "Create Agora" %}</a>
                    {% endif %}
                </div>
                <div class="span5">
                    <form id="search-form" class="form-search form-inline btn-toolbar" action="{% url search-view %}">
                        <input type="text" class="input-medium search-query"  value="{{ query }}" placeholder="{% trans "Search" %}" name="q" />
                    {% if not user or not user.is_authenticated %}
                        <a class="user-link link-green" href="{% url userena_signin %}">{% trans "Enter" %}</a>
                        <a class="user-link" href="{% url userena_signup %}">{% trans "Register" %}</a>
                    {% else %}
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ user.get_profile.get_first_name_or_nick|truncate_words:1 }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url userena_signout %}">{% trans "Log out" %}</a></li>
                                <li><a href="{% url user-settings %}">{% trans "Settings" %}</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="messages-box" id="messages-box">
                    {% if messages %}
                    <ul id="flash-messages">
                        {% for message in messages %}
                            {% if message.tags != "alert-success-modal" %}
                            <div class="alert {{ message.tags }}">
                                <a class="close" data-dismiss="alert">×</a>
                                <strong>
                                    {% if message.tags == 'alert-info' %}{% trans "Heads Up!" %}
                                    {% elif message.tags == 'alert-success' %}{% trans "Well done!" %}
                                    {% elif message.tags == 'alert-warning' %}{% trans "Be aware!" %}
                                    {% elif message.tags == 'alert-error' %}{% trans "Oh snap!" %}
                                    {% endif %}
                                </strong>
                                {{ message|safe }}
                            </div>
                            {% else %}
                            <div class="modal hide fade">
                                <div class="modal-header">
                                    <a class="close" data-dismiss="modal">×</a>
                                    <h3>{% trans "Heads up!" %}</h3>
                                </div>
                                <div class="modal-body">
                                    <p>{{ message|safe }}</p>
                                </div>
                                <div class="modal-footer">
                                    <a data-dismiss="modal" class="btn close btn-success">{% trans "Close" %}</a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="rows" id="sections-wrapper">
                <div class="span10">
                    <ul class="nav nav-pills">
                        {% if user and user.agoras.count > 0 %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans "Agoras" %}
                                <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                {% for agora in user.agoras.all %}
                                    <li><a href="{% url agora-view agora.creator.username agora.name %}">{{ agora.creator.username }}/{{ agora.name }}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{% url agora-list %}">{% trans "Explore other agoras" %}</a></li>
                                </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url agora-list %}">{% trans "Agoras" %}</a>
                        </li>
                        {% endif %}
                        {% if user.profile.get_open_elections.count > 0 or user.profile.get_requested_elections.count > 0 %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans "Elections" %}
                                <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if user.profile.get_requested_elections.count > 0 %}
                                        {% for election in user.profile.get_requested_elections.all %}
                                            <li><a href="{% url election-view election.agora.creator.username election.agora.name election.name %}">{{ election.pretty_name }}</a></li>
                                        {% endfor %}
                                        {% if user.profile.get_open_elections.count > 0 %}
                                            <li class="divider"></li>
                                        {% endif %}
                                    {% endif %}
                                    {% for election in user.profile.get_open_elections.all %}
                                        <li><a href="{% url election-view election.agora.creator.username election.agora.name election.name %}">{{ election.pretty_name }}</a></li>
                                    {% endfor %}
                                    <li class="divider"></li>
                                    <li><a href="{% url election-list %}">{% trans "Explore other elections" %}</a></li>
                                </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url election-list %}">{% trans "Elections" %}</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url user-list %}">{% trans "People" %}</a>
                        </li>
                    </ul>
                </div>

                <div class="span2">
                    <ul class="nav nav-pills">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ LANGUAGES|getdoublelistitem:LANGUAGE_CODE }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% for key, value in LANGUAGES %}
                                    <li><a href="{% url set-language key %}" class="action-form-link">{{ value }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="background-wrapper {% block background-wrapper-class %}{% endblock %}">
        <div class="container-fluid {% block running-board-wrapper-class %}hero-unit{% endblock %}" id="running-board-wrapper">
            <div class="container">
                <div class="row">
                    {% block running-board  %}
                        <div class="span7">
                            {% trans "<p>A new way of</p><h1>Making group decisions</h1>" %}
                            <div id="agora_house">
                                <img src="{{ STATIC_URL }}img/agora_house.png" />
                                <a class="btn btn-success" href="{% url election-list %}">{% trans "Participate" %}</a>
                                <a class="btn btn-primary" href="{% url agora-list %}">{% trans "Explore" %}</a>
                            </div>
                        </div>
                        <div class="span5">
                            <blockquote>&ldquo;
                            {% trans "An indispensable tool to lead an organization in a democratic manner. Its delegation system reflects trust relationships" %}&rdquo;
                            </blockquote>
                            <p>{% trans "Eduardo Robles Elvira, Cofounder of Wadobo" %}</p>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div id="content-wrapper" class="{% block content-wrapper-class %}{% endblock %}">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block footer %}
    <div class="container-fluid {% block footer-wrapper-class %}{% endblock %}" id="footer-wrapper">
        <div class="container">
            <div class="row-fluid">
                <div class="span3" id="footer-discover">
                    <h3>{% trans "Discover" %}</h3>
                    <ul>
                        <li>
                            <a href="{% url about %}">{% trans "About" %}</a>
                        </li>
                        <li>
                            <a href="{% url libre-software %}">{% trans "Libre Software" %}</a>
                        </li>
                        <li>
                            <a href="{% url blog %}">{% trans "Blog" %}</a>
                        </li>
                        <li>
                            <a href="{% url status %}">{% trans "Status" %}</a>
                        </li>
                    </ul>
                </div>

                <div class="span3" id="footer-serious-stuff">
                    <h3>{% trans "Serious Stuff" %}</h3>
                    <ul>
                        <li id="footer-terms-of-service">
                            <a href="{% url terms-of-service %}">{% trans "Terms of Service" %}</a>
                        </li>
                        <li id="footer-privacy-policy">
                            <a href="{% url privacy-policy %}">{% trans "Privacy Policy" %}</a>
                        </li>
                        <li id="footer-security">
                            <a href="{% url security %}">{% trans "Security" %}</a>
                        </li>
                        <li>
                            <a href="{% url contact %}">{% trans "Contact Us" %}</a>
                        </li>
                    </ul>
                </div>

                <div class="span3" id="footer-be-social">
                    <h3>{% trans "Be Social" %}</h3>
                    <ul>
                        <li>
                            <a href="{% url twitter %}">{% trans "Follow on Twitter" %}</a>
                        </li>
                        <li>
                            <a href="{% url facebook %}">{% trans "Like in Facebook" %}</a>
                        </li>
                        <li>
                            <a href="{% url identica %}">{% trans "Follow in Indenti.ca" %}</a>
                        </li>
                        <li>
                            <a href="{% url google-plus %}">{% trans "+1 in Google Plus" %}</a>
                        </li>
                    </ul>
                </div>
                <div class="span3" id="footer-be-social">
                    <h3>{% trans "Powered by" %}</h3>
                    <a href="http://wadobo.com"><img title="{% trans "Wadobo Labs" %}" alt="{% trans "Wadobo Labs" %}" src="{{ STATIC_URL }}img/wadobolabs.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-end"></div>
    {% endblock %}

    <script src="{% static 'js/min/main.min.js' %}"></script>

    <!-- Development -->
    {% if DEBUG %}
    <script src="{% static 'js/agora/base.js' %}"></script>
    <script src="{% static 'js/agora/ajax.js' %}"></script>
    <script src="{% static 'js/agora/views/generic.js' %}"></script>
    <script src="{% static 'js/agora/views/home.js' %}"></script>
    <script src="{% static 'js/agora/views/agora.js' %}"></script>
    {% else %}
    <script src="{% static 'js/min/agora.min.js' %}"></script>
    {% endif %}

    <!-- DEPRECATED -->
    {% block script-block %}{% endblock %}
</body>
</html>
