{% load i18n %}
{% load agora_utils %}

<div class="activity-action {% if is_ajax != 'True' and forloop and forloop.first %}activity-action-first{% endif %}" geodata="{{ action.geolocation }}">
    {% if action.verb == 'created' and action.action_object and action.action_object_content_type.name == 'agora' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.actor.username action.action_object.name as agora_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agoraname=action.action_object.name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">created</strong> an agora at <a href="{{ agora_view_url }}">{{ username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ agora_view_url }}" class="mugshot">
                    <img src="{{ action.action_object.get_mugshot_url }}" alt="{{ action.actor.username }}/{{ action.action_object.name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ agora_view_url }}">{{ action.actor.username }}/{{ action.action_object.name }}</a></strong>
                    <p>{{ action.action_object.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'started following' and action.target and action.target_content_type.name == 'agora' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.actor.username action.target.name as agora_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agoraname=action.target.name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">started
                    following</strong> agora <a href="{{ agora_view_url }}">{{ username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ agora_view_url }}" class="mugshot">
                    <img src="{{ action.target.get_mugshot_url }}" alt="{{ action.actor.username }}/{{ action.target.name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ agora_view_url }}">{{ action.actor.username }}/{{ action.target.name }}</a></strong>
                    <p>{{ action.target.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'stopped following' and action.target and action.target_content_type.name == 'agora' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.actor.username action.target.name as agora_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agoraname=action.target.name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">stopped
                    following</strong> agora <a href="{{ agora_view_url }}">{{ username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ agora_view_url }}" class="mugshot">
                    <img src="{{ action.target.get_mugshot_url }}" alt="{{ action.actor.username }}/{{ action.target.name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ agora_view_url }}">{{ action.actor.username }}/{{ action.target.name }}</a></strong>
                    <p>{{ action.target.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'created' and action.action_object and action.action_object_content_type.name == 'election' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.action_object.agora.creator.username action.action_object.agora.name as agora_view_url %}
                {% url election-view action.action_object.agora.creator.username action.action_object.agora.name action.action_object.name as election_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agora_creator_username=action.action_object.agora.creator.username agoraname=action.action_object.agora.name electionname=action.action_object.pretty_name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">created</strong> election <a href="{{ election_view_url }}">{{ electionname }}</a> at <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ election_view_url }}" class="mugshot">
                    <img src="{{ action.action_object.get_mugshot_url }}" alt="{{ action.action_object.pretty_name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ election_view_url }}">{{ action.action_object.pretty_name }}</a></strong>
                    <p>{{ action.action_object.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'started following' and action.target and action.target_content_type.name == 'election' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.target.agora.creator.username action.target.agora.name as agora_view_url %}
                {% url election-view action.target.agora.creator.username action.target.agora.name action.target.name as election_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agora_creator_username=action.target.agora.creator.username agoraname=action.target.agora.name electionname=action.target.pretty_name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">started following</strong> election <a href="{{ election_view_url }}">{{ electionname }}</a> at <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ election_view_url }}" class="mugshot">
                    <img src="{{ action.target.get_mugshot_url }}" alt="{{ action.target.pretty_name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ election_view_url }}">{{ action.target.pretty_name }}</a></strong>
                    <p>{{ action.target.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'stopped following' and action.target and action.target_content_type.name == 'election' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.target.agora.creator.username action.target.agora.name as agora_view_url %}
                {% url election-view action.target.agora.creator.username action.target.agora.name action.target.name as election_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agora_creator_username=action.target.agora.creator.username agoraname=action.target.agora.name electionname=action.target.pretty_name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">stopped following</strong> election <a href="{{ election_view_url }}">{{ electionname }}</a> at <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ election_view_url }}" class="mugshot">
                    <img src="{{ action.target.get_mugshot_url }}" alt="{{ action.target.pretty_name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ election_view_url }}">{{ action.target.pretty_name }}</a></strong>
                    <p>{{ action.target.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'proposed' and action.action_object and action.action_object_content_type.name == 'election' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.action_object.agora.creator.username action.action_object.agora.name as agora_view_url %}
                {% url election-view action.action_object.agora.creator.username action.action_object.agora.name action.action_object.name as election_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agora_creator_username=action.action_object.agora.creator.username agoraname=action.action_object.agora.name electionname=action.action_object.pretty_name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">proposed</strong> election <a href="{{ election_view_url }}">{{ electionname }}</a> at <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ election_view_url }}" class="mugshot">
                    <img src="{{ action.action_object.get_mugshot_url }}" alt="{{ action.action_object.pretty_name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ election_view_url }}">{{ action.action_object.pretty_name }}</a></strong>
                    <p>{{ action.action_object.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'voted' and action.action_object and action.action_object_content_type.name == 'election' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            {% with isotime=action.timestamp|date:"c" vote=action|getvote %}
                <div class="action-title">
                    {% url agora-view action.action_object.agora.creator.username action.action_object.agora.name as agora_view_url %}
                    {% url election-view action.action_object.agora.creator.username action.action_object.agora.name action.action_object.name as election_view_url %}

                    {% if vote.is_changed_vote %}
                        {% blocktrans with username=action.actor.username agora_creator_username=action.action_object.agora.creator.username agoraname=action.action_object.agora.name electionname=action.action_object.pretty_name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">changed his vote</strong> on election <a href="{{ election_view_url }}">{{ electionname }}</a> at <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    {% else %}
                        {% blocktrans with username=action.actor.username agora_creator_username=action.action_object.agora.creator.username agoraname=action.action_object.agora.name electionname=action.action_object.pretty_name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">voted</strong> on election <a href="{{ election_view_url }}">{{ electionname }}</a> at <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    {% endif %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                </div>
                {% if vote.is_public and vote.is_direct %}
                    <div class="action-detail">
                        <div class="detail-body vote">
                            <strong class="action-title">{{ vote.get_first_pretty_answer|getitem:'question' }}</strong>
                            <p>
                                {% trans "Answered:" %}
                                <a href="{ % url election-delegate action.action_object.agora.creator.username action.action_object.agora.name action.action_object.name %}">
                                    {{ vote.get_first_pretty_answer|getitem:'answer' }}
                                </a>
                            </p>
                            {% if vote.reason %}
                                <em>{% trans "Why?" %}</em>
                                <blockquote>{{ vote.reason }}</blockquote>
                            {% elif vote.voter.get_profile.short_description %}
                                <em>{% trans "Bio:" %}</em><blockquote>{{ vote.voter.get_profile.short_description }}</blockquote>
                            {% else %}
                                <em>{% trans "Bio:" %}</em><blockquote>{% blocktrans with num_agoras=vote.voter.agoras.count num_votes=vote.voter.get_profile.count_direct_votes %}Is a member of {{num_agoras}} agoras and has emitted {{num_votes}} direct votes.{% endblocktrans %}</blockquote>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="action-detail">
                <a href="{{ election_view_url }}" class="mugshot">
                    <img src="{{ action.action_object.get_mugshot_url }}" alt="{{ action.action_object.pretty_name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ election_view_url }}">{{ action.action_object.pretty_name }}</a></strong>
                    <p>{{ action.action_object.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'delegated' and action.target and action.target_content_type.name == 'agora' and action.action_object and action.action_object_content_type.name == 'cast vote' and action.action_object.is_plaintext %}
        {% url user-view action.actor.username as user_view_url %}
        {% url agora-view action.target.creator.username action.target.name as agora_view_url %}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            {% with isotime=action.timestamp|date:"c" vote=action.action_object delegate=action.action_object.get_delegate %}
                {% url user-view delegate.username as delegate_view_url %}
                <div class="action-title">
                    {% blocktrans with username=action.actor.username agora_creator_username=action.target.creator.username agoraname=action.target.name delegate_username=delegate.username %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">delegated</strong> to <a href="{{ delegate_view_url }}">{{ delegate_username }}</a> at <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                </div>
                <div class="action-detail">
                    <a href="{{ delegate_view_url }}" class="mugshot">
                        <img src="{{ delegate.get_profile.get_mugshot_url }}" alt="{{ delegate.username }}" />
                    </a>
                    <div class="detail-body">
                        <strong class="action-title"><a href="{{ delegate_view_url }}">{{ delegate.username }}</a></strong>
                        <p>
                        {% if delegate.get_profile.short_description %}
                            {{ delegate.get_profile.short_description }}
                        {% else %}
                            {% blocktrans with num_agoras=delegate.agoras.count num_votes=delegate.get_profile.count_direct_votes %}Is a member of {{num_agoras}} agoras and has emitted {{num_votes}} direct votes.{% endblocktrans %}
                        {% endif %}
                        </p>
                    </div>
                </div>
            {% endwith %}
        </div>
    {% elif action.verb == 'started following' and action.target and action.target_content_type.name == 'user' %}
        {% url user-view action.actor.username as user_view_url %}
        {% url user-view action.target.username as followed_user_view_url %}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% blocktrans with username=action.actor.username followed_username=action.target.username isotime=action.timestamp|date:"c" %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">started following</strong> to <a href="{{ followed_user_view_url }}">{{ followed_username }}</a>{% endblocktrans %}
                <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
            </div>
            <div class="action-detail">
                <a href="{{ followed_user_view_url }}" class="mugshot">
                    <img src="{{ action.target.get_profile.get_mugshot_url }}" alt="{{ action.target.username }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ followed_user_view_url }}">{{ action.target.username }}</a></strong>
                    <p>
                    {% if action.target.get_profile.short_description %}
                        {{ action.target.get_profile.short_description }}
                    {% else %}
                        {% blocktrans with num_agoras=action.target.agoras.count num_votes=action.target.get_profile.count_direct_votes %}Is a member of {{num_agoras}} agoras and has emitted {{num_votes}} direct votes.{% endblocktrans %}
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'stopped following' and action.target and action.target_content_type.name == 'user' %}
        {% url user-view action.actor.username as user_view_url %}
        {% url user-view action.target.username as followed_user_view_url %}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% blocktrans with username=action.actor.username followed_username=action.target.username isotime=action.timestamp|date:"c" %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a>
                <strong class="verb">stopped following</strong> to <a href="{{ followed_user_view_url }}">{{ followed_username }}</a>{% endblocktrans %}
                <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
            </div>
            <div class="action-detail">
                <a href="{{ followed_user_view_url }}" class="mugshot">
                    <img src="{{ action.target.get_profile.get_mugshot_url }}" alt="{{ action.target.username }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ followed_user_view_url }}">{{ action.target.username }}</a></strong>
                    <p>
                    {% if action.target.get_profile.short_description %}
                        {{ action.target.get_profile.short_description }}
                    {% else %}
                        {% blocktrans with num_agoras=action.target.agoras.count num_votes=action.target.get_profile.count_direct_votes %}Is a member of {{num_agoras}} agoras and has emitted {{num_votes}} direct votes.{% endblocktrans %}
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'joined' and action.action_object and action.action_object_content_type.name == 'agora' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.action_object.creator.username action.action_object.name as agora_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agora_creator_username=action.action_object.creator.username agoraname=action.action_object.name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">joined</strong> agora 
                    <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ agora_view_url }}" class="mugshot">
                    <img src="{{ action.action_object.get_mugshot_url }}" alt="{{ action.action_object.creator.username }}/{{ action.action_object.name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ agora_view_url }}">{{ action.action_object.creator.username }}/{{ action.action_object.name }}</a></strong>
                    <p>{{ action.action_object.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'left' and action.action_object and action.action_object_content_type.name == 'agora' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.action_object.creator.username action.action_object.name as agora_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agora_creator_username=action.action_object.creator.username agoraname=action.action_object.name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">left</strong> agora
                    <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ agora_view_url }}" class="mugshot">
                    <img src="{{ action.action_object.get_mugshot_url }}" alt="{{ action.action_object.creator.username }}/{{ action.action_object.name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ agora_view_url }}">{{ action.action_object.creator.username }}/{{ action.action_object.name }}</a></strong>
                    <p>{{ action.action_object.short_description }}</p>
                </div>
            </div>
        </div>
    {% elif action.verb == 'removed admin membership' and action.action_object and action.action_object_content_type.name == 'agora' %}
        {% url user-view action.actor.username as user_view_url%}
        <a href="{{ user_view_url }}" class="mugshot">
            <img src="{{ action.actor.get_profile.get_mugshot_url }}" alt="{{ action.actor.username }}" />
        </a>
        <div class="action-body">
            <div class="action-title">
                {% url agora-view action.action_object.creator.username action.action_object.name as agora_view_url %}
                {% with isotime=action.timestamp|date:"c" %}
                    {% blocktrans with username=action.actor.username agora_creator_username=action.action_object.creator.username agoraname=action.action_object.name %}<a href="{{ user_view_url }}"><strong class="username">{{ username }}</strong></a> <strong class="verb">left admin membership</strong> at agora
                    <a href="{{ agora_view_url }}">{{ agora_creator_username }}/{{ agoraname }}</a>{% endblocktrans %}
                    <time class="timeago" title="{{ isotime }}" datetime="{{ isotime }}"></time>
                {% endwith %}
            </div>

            <div class="action-detail">
                <a href="{{ agora_view_url }}" class="mugshot">
                    <img src="{{ action.action_object.get_mugshot_url }}" alt="{{ action.action_object.creator.username }}/{{ action.action_object.name }}" />
                </a>
                <div class="detail-body">
                    <strong class="action-title"><a href="{{ agora_view_url }}">{{ action.action_object.creator.username }}/{{ action.action_object.name }}</a></strong>
                    <p>{{ action.action_object.short_description }}</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>