{% extends 'agora_core/agora_view.html' %}
{% load i18n %}
{% load agora_utils %}

{% block title %}{% trans "Elections" %} - {{ agora.creator.username }}/{{ agora.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 agora-left-side">
            <div class="activity-list" id="activity-list"
                data-url="/api/v1/agora/{{ agora.id }}/{{ filter }}_elections/" data-method="get" data-margin="300">

                <div class="endless-container">
                    <a class="endless_more" href="#">{% trans "more" %}</a>
                    <div class="endless_loading hidden">{% trans "Loading..." %}</div>
                </div>
            </div>
        </div>
        <div class="span4 agora-right-side">
            <ul class="nav nav-pills nav-stacked">
                <li{% ifequal filter 'open' %} class="active"{% endifequal %}>
                    <a href="{% url 'agora-elections' agora.creator.username agora.name 'open' %}">
                        {% trans "Open" %} ({{ agora.open_elections.count }})
                    </a>
                </li>
                <li{% ifequal filter 'tallied' %} class="active"{% endifequal %}>
                    <a href="{% url 'agora-elections' agora.creator.username agora.name 'tallied' %}">
                        {% trans "Tallied" %} ({{ agora.get_tallied_elections.count }})
                    </a>
                </li>
                <li{% ifequal filter 'approved' %} class="active"{% endifequal %}>
                    <a href="{% url 'agora-elections' agora.creator.username agora.name 'approved' %}">
                        {% trans "Approved" %} ({{ agora.approved_elections.count }})
                    </a>
                </li>
                <li{% ifequal filter 'requested' %} class="active"{% endifequal %}>
                    <a href="{% url 'agora-elections' agora.creator.username agora.name 'requested' %}">
                        {% trans "Requested" %} ({{ agora.requested_elections.count }})
                    </a>
                </li>
                <li{% ifequal filter 'archived' %} class="active"{% endifequal %}>
                    <a href="{% url 'agora-elections' agora.creator.username agora.name 'archived' %}">
                        {% trans "Archived" %} ({{ agora.archived_elections.count }})
                    </a>
                </li>
                <li{% ifequal filter 'all' %} class="active"{% endifequal %}>
                    <a href="{% url 'agora-elections' agora.creator.username agora.name 'all' %}">
                        {% trans "All" %} ({{ agora.all_elections.count }})
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block script-block %}
    {% include "search/include-js-template-search-election.html" %}
    {% include "agora_core/client/agora_tabs.html" %}
    <script>

    var ajax_data = {
        'agora': {% rest request '/agora/' agora.id '/' %},
        'user_permissions': {% custom_rest request "POST" '{"action":"get_permissions"}' '/agora/' agora.id '/action/' %}
    };
    var current_tab = "elections";
    Agora.renderAgoraTabs();

    app.currentView = new Agora.ElectionListView();
    </script>
{% endblock %}
