{% extends 'agora_core/agora_view.html' %}
{% load i18n %}
{% load endless %}
{% load agora_utils %}

{% block title %}{% trans "Members" %} - {{ agora.creator.username }}/{{ agora.name }}{% endblock %}

{% block agora-navigation %}{% activetab "agora-nav" "members" %}{{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 agora-left-side">
            {% paginate object_list %}
            {% for object in object_list %}
                <!-- {% cycle "left" "right" as row %} -->
                {% include "agora_core/user_item.html" %}
                {% if forloop.last and row == "left" %}
                        <div class="span6 span6-right">
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                {% trans "Sorry, this list of agora members is empty." %}
            {% endfor %}
            {% show_more %}
        </div>
        <div class="span4 agora-right-side">
            {% if agora|is_agora_admin:user %}
            <a class="btn btn-large btn-block bottom-space" href="{% url agora-add-members agora.creator.username agora.name %}">
            {% trans "Add members manually" %}
            </a>
            {% endif %}
            <ul class="nav nav-pills nav-stacked">
                <li{% ifequal filter 'members' %} class="active"{% endifequal %}>
                    <a href="{% url agora-members agora.creator.username agora.name 'members' %}">
                        {% trans "Members" %} ({{ agora.members.count }})
                    </a>
                </li>
                <li{% ifequal filter 'admins' %} class="active"{% endifequal %}>
                    <a href="{% url agora-members agora.creator.username agora.name 'admins' %}">
                        {% trans "Admins" %} ({{ agora.admins.count }})
                    </a>
                </li>
                <li{% ifequal filter 'delegates' %} class="active"{% endifequal %}>
                    <a href="{% url agora-members agora.creator.username agora.name 'delegates' %}">
                        {% trans "Delegates" %} ({{ agora.active_delegates.count }})
                    </a>
                </li>
                {% if agora|is_agora_admin:user %}
                    <li{% ifequal filter 'requested_membership' %} class="active"{% endifequal %}>
                        <a href="{% url agora-members agora.creator.username agora.name 'requested_membership' %}">
                            {% trans "Requested membership" %} ({{ agora.users_who_requested_membership.count }})
                        </a>
                    </li>
                    <li{% ifequal filter 'requested_admin_membership' %} class="active"{% endifequal %}>
                        <a href="{% url agora-members agora.creator.username agora.name 'requested_admin_membership' %}">
                            {% trans "Requested admin membership" %} ({{ agora.users_who_requested_admin_membership.count }})
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}