{% extends 'base.html' %}
{% load i18n %}
{% load endless %}

{% block script-block %}
    <script src="{{ STATIC_URL }}js/endless_pagination/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/endless_pagination/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 300;
    </script>
{% endblock %}

{% block title %}{{ agora.creator.username }}/{{ agora.name }}{% endblock %}

{% block running-board-wrapper-class %}agora-running-board{% endblock %}
{% block background-wrapper-class %}background-wrapper-no-bottom-shadow{% endblock %}

{% block running-board  %}

    <img class="agora-logo" src="{{ agora.get_mugshot_url }}" alt="{% blocktrans with name=agora.name %}{{ name }} logo{% endblocktrans %}" />
    <h1>
        <a href="{ % url user-view agora.creator.username %}">{{ agora.creator.username }}</a>
        <span class="divider">/</span>
         {{ agora.name }}
    </h1>
    <p>{{ agora.short_description }}</p>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#">{% trans "Activity" %}</a>
        </li>
        <li><a href="{ % url agora-bio agora.name %}">{% trans "Biography" %}</a></li>
        <li>
            <a href="{ % url agora-votings agora.name %}">{% trans "Votings" %}
            <span class="badge badge-info">{{ agora.elections.count }}</span></a>
        </li>
        <li>
            <a href="{ % url agora-delegates agora.name %}">{% trans "Delegates" %}
            <span class="badge badge-info">{{ agora.active_delegates.count }}</span></a>
        </li>
        <li>
            <a href="{ % url agora-members agora.name %}">{% trans "Members" %}
            <span class="badge badge-info">{{ agora.members.count }}</span></a>
        </li>
        {% if user in agora.admins %}
            <li><a href="{ % url agora-admin agora.name %}">{% trans "Administer" %}</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span8">
    {% paginate activity %}
    {% for action in activity %}
        {% include "agora_core/action_item.html" %}
    {% endfor %}
    {% show_more %}

    {% endblock %}

    </div>
    <div class="span4">
    </div>
</div>


{% block footer %} {% endblock %}
