{% extends 'agora_core/agora_view.html' %}
{% load i18n %}
{% load agora_utils %}

{% block title %}{% trans "Members" %} - {{ agora.creator.username }}/{{ agora.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 agora-left-side">
            {% include "agora_core/filter.html" %}
            <div class="activity-list" id="user-list"
                data-url="/api/v1/agora/{{ agora.id }}/{{filter}}/"
                data-agora-path="{{ agora.get_link }}"
                data-agora-id="{{ agora.id }}" data-method="get" data-margin="300">

                <div class="endless-container">
                    <a class="endless_more" href="#">{% trans "more" %}</a>
                    <div class="endless_loading hidden">{% trans "Loading..." %}</div>
                </div>
            </div>
        </div>
        <div class="span4 agora-right-side">
            <ul class="nav nav-pills nav-stacked">
                <li{% ifequal filter 'members' %} class="active"{% endifequal %}>
                    <a href="{% url agora-members agora.creator.username agora.name 'members' %}">
                        {% trans "Members" %} ({{ agora.members.count }})
                    </a>
                </li>
                <li{% ifequal filter 'admins' %} class="active"{% endifequal %}>
                    <a href="{% url agora-members agora.creator.username agora.name 'admins' %}">
                        {% trans "Admins" %} ({{ agora.admins.count }})
                    </a>
                </li>
                <li{% ifequal filter 'active_delegates' %} class="active"{% endifequal %}>
                    <a href="{% url agora-members agora.creator.username agora.name 'active_delegates' %}">
                        {% trans "Delegates" %} ({{ agora.active_delegates.count }})
                    </a>
                </li>
                {% if agora|is_agora_admin:user %}
                    <li{% ifequal filter 'membership_requests' %} class="active"{% endifequal %}>
                        <a href="{% url agora-members agora.creator.username agora.name 'membership_requests' %}">
                            {% trans "Requested membership" %} ({{ agora.users_who_requested_membership.count }})
                        </a>
                    </li>
                    <li{% ifequal filter 'admin_membership_requests' %} class="active"{% endifequal %}>
                        <a href="{% url agora-members agora.creator.username agora.name 'admin_membership_requests' %}">
                            {% trans "Requested admin membership" %} ({{ agora.users_who_requested_admin_membership.count }})
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block script-block %}
    {% include "agora_core/client/action_list.html" %}
    {% include "search/include-js-template-agora-profile.html" %}
    {% include "agora_core/client/modal_dialog.html" %}
    {% include "agora_core/client/send_mail.html" %}
    {% include "agora_core/client/modal_dialog.html" %}
    {% include "agora_core/client/mail_to_members.html" %}
    {% include "agora_core/client/add_members_modal_dialog.html" %}
    {% include "agora_core/client/confirm_delegate_modal_dialog.html" %}
    {% include "agora_core/client/agora_tabs.html" %}

    <script>
    var ajax_data = {
        'agora': {% rest request '/agora/' agora.id '/' %},
        'user_permissions': {% custom_rest request "POST" '{"action":"get_permissions"}' '/agora/' agora.id '/action/' %}
    };
    var current_tab = "members";
    app.currentView = new Agora.AgoraUserListView();
    Agora.renderAgoraTabs();
    </script>
{% endblock %}
