{% extends 'base.html' %}
{% load i18n agora_utils markup %}

{% block title %}{{ agora.creator.username }}/{{ agora.name }}{% endblock %}

{% block content-wrapper-class %}agora{% endblock %}
{% block running-board-wrapper-class %}agora-running-board{% endblock %}
{% block background-wrapper-class %}background-wrapper-no-bottom-shadow{% endblock %}

{% block running-board  %}
<img class="agora-logo" src="{{ agora.get_mugshot_url }}" alt="{% blocktrans with name=agora.name %}{{ name }} logo{% endblocktrans %}" />

<div class="item-detail">
    <h1>
        <a href="{% url user-view agora.creator.username %}">{{ agora.creator.username }}</a>
        / {{ agora.name }}
    </h1>
    <p>{{ agora.short_description }}</p>
</div>

<div class="upper-right-corner" id="action_list">
    <!-- here goes the backbone generated action list -->
</div>

<ul class="nav nav-tabs" id="agora-tabs">
    <!-- here goes the backbone generated agora tab list -->
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span8 agora-left-side">
        {% block agora_content %}
        <div class="activity-list" id="activity-list"
        data-url="{% block agora-activity-url %}/api/v1/action/agora/{{ agora.id }}/{% endblock %}">
            {% if agora.biograpy|length > 0 and agora.biography != agora.short_description and agora.biography %}
            <div class="main-description">
                {{ agora.biograpy|textile|truncatewords_html:130 }}
            </div>
            {% endif %}
            <div class="endless-container">
                <a class="endless_more" href="#">{% trans "more" %}</a>
                <div class="endless_loading hidden">{% trans "Loading..." %}</div>
            </div>
        </div>
        {% endblock %}
    </div>
    <div class="span4 agora-right-side">
        <div class="row-fluid right-widget agora-calendar" id="agora-calendar" data-url="/api/v1/agora/{{ agora.id }}/open_elections/">
            <!-- here goes the backbone generated calendar -->
        </div>

        <div class="row-fluid social-icons">
            <div class="span12">
                <a id="twittershare" href="https://twitter.com/share" data-via="agoraciudadana">
                    <img src="{{ STATIC_URL }}img/twitter-small-logo.png" alt="{% trans "Share on Twitter" %}" />
                </a>
                <a id="facebookshare" href="http://www.facebook.com/sharer/sharer.php">
                    <img src="{{ STATIC_URL }}img/facebook-small-logo.png" alt="{% trans "Share on Facebook" %}" />
                </a>
                <a id="identicashare" href="http://identi.ca/?action=newnotice">
                    <img src="{{ STATIC_URL }}img/identica-small-logo.png" alt="{% trans "Share on Identica" %}" />
                </a>
                <a id="googleshare" href="https://plus.google.com/share">
                    <img src="{{ STATIC_URL }}img/googleplus-small-logo.png" alt="{% trans "Share on Google Plus" %}" />
                </a>
            </div>
        </div>

        <div class="row-fluid right-widget right-widget-grey" id="tallied_elections_view">
            <!-- here will go the tallied elections view when rendered -->
        </div>
    </div>
</div>
{% endblock %}

{% block script-block %}
{% include "agora_core/include-js-template-agora.html" %}
{% include "agora_core/client/calendar_elections.html" %}
{% include "agora_core/client/all_actions.html" %}
{% include "agora_core/client/action_list.html" %}
{% include "agora_core/client/modal_dialog.html" %}
{% include "agora_core/client/tallied_elections_view.html" %}
{% include "agora_core/client/add_members_modal_dialog.html" %}
{% include "agora_core/client/send_mail.html" %}
{% include "agora_core/client/agora_tabs.html" %}
{% include "agora_core/client/agora_calendar.html" %}
<script>
var ajax_data = {
    'tallied_elections': {% rest request '/agora/' agora.id '/tallied_elections/?limit=3' %},
    'agora': {% rest request '/agora/' agora.id '/' %},
    'user_permissions': {% custom_rest request "POST" '{"action":"get_permissions"}' '/agora/' agora.id '/action/' %}
};

var current_tab = "{% block agora-tab-name %}activity{% endblock %}";

app.currentView = new Agora.AgoraView();

</script>
{% endblock %}
{% block footer %} {% endblock %}
