{% extends 'base.html' %}
{% load i18n %}
{% load endless %}
{% load agora_utils %}
{% load markup %}

{% block script-block %}
    <script src="{{ STATIC_URL }}js/endless_pagination/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/endless_pagination/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 300;
    </script>
{% endblock %}

{% block title %}{{ agora.creator.username }}/{{ agora.name }}{% endblock %}

{% block running-board-wrapper-class %}agora-running-board{% endblock %}
{% block background-wrapper-class %}background-wrapper-no-bottom-shadow{% endblock %}

{% block running-board  %}

    <img class="agora-logo" src="{{ agora.get_mugshot_url }}" alt="{% blocktrans with name=agora.name %}{{ name }} logo{% endblocktrans %}" />
    <div class="item-detail">
        <h1>
            <a href="{% url user-view agora.creator.username %}">{{ agora.creator.username }}</a>
            / {{ agora.name }}
        </h1>
        <p>{{ agora.short_description }}</p>
    </div>

    <div class="upper-right-corner">
        {% if user == agora.creator %}
            <div class="btn-group">
                <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="icon-user"></i> {% trans "You are the owner" %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url agora-admin agora.creator.username agora.name %}">
                            <i class="icon-edit"></i>
                            {% trans "Edit agora details" %}
                        </a>
                    </li>
                    <!-- TODO: do in a later version
                    <li>
                        <a href="{ % agora-transfer-ownership agora.creator.username agora.name %}" class="action-form-link">
                            <i class="icon-random"></i>
                            {% trans "Transfer ownership" %}
                        </a>
                    </li>-->
                </ul>
            </div>
        {% elif user in agora.admins.all %}
            <div class="btn-group">
                <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="icon-user"></i> {% trans "You are an admin" %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url agora-admin agora.creator.username agora.name %}">
                            <i class="icon-edit"></i>
                            {% trans "Edit agora details" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url agora-action-leave-admin agora.creator.username agora.name %}" class="action-form-link">
                            <i class="icon-trash"></i>
                            {% trans "Remove my admin membership" %}
                        </a>
                    </li>
                </ul>
            </div>
        {% elif user in agora.members.all %}
            <div class="btn-group">
                <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="icon-user"></i> {% trans "You are a member" %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url agora-action-leave agora.creator.username agora.name %}" class="action-form-link">
                            <i class="icon-trash"></i>
                            {% trans "Remove my membership" %}
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a class="btn btn-success action-form-link" href="{% url agora-action-join agora.creator.username agora.name %}">
                <i class="icon-heart icon-white"></i>
                {% trans "Join this agora now" %}
            </a>
        {% endif %}
    </div>

    <ul class="nav nav-tabs">
        {% block agora-navigation %}
        <li {% ifactivetab "agora-nav" "activity" %}class="active"{% endifactivetab %}>
            <a href="{%url agora-view agora.creator.username agora.name %}">{% trans "Activity" %}</a>
        </li>
        <!-- TODO: maybe make this an option too? an expandable text -->
        <li {% ifactivetab "agora-nav" "biography" %}class="active"{% endifactivetab %}>
            <a href="{% url agora-bio agora.creator.username agora.name %}">{% trans "Biography" %}</a>
        </li>
        <!-- TODO: maybe make this an option too? -->
        <li {% ifactivetab "agora-nav" "comments" %}class="active"{% endifactivetab %}>
            <a href="{% url agora-comments agora.creator.username agora.name %}">{% trans "Comments" %}</a>
        </li>
        <li {% ifactivetab "agora-nav" "elections" %}class="active"{% endifactivetab %}>
            <a href="{% url agora-elections agora.creator.username agora.name 'open' %}">{% trans "Elections" %}
            <span class="badge badge-info">{{ agora.open_elections.count }}</span></a>
        </li>
        <li {% ifactivetab "agora-nav" "members" %}class="active"{% endifactivetab %}>
            <a href="{% url agora-members agora.creator.username agora.name 'all' %}">{% trans "Members" %}
            <span class="badge badge-info">{{ agora.members.count }}</span></a>
        </li>
        {% if agora|is_agora_admin:user %}
        <li {% ifactivetab "agora-nav" "admin" %}class="active"{% endifactivetab %}>
            <a href="{% url agora-admin agora.creator.username agora.name %}">{% trans "Admin" %}</a>
        </li>
        {% endif %}
        {% endblock %}
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 agora-left-side">
            {% if agora.biograpy|length > 0 and agora.biography != agora.short_description and agora.biography %}
                <div class="main-description">
                    {{ election.biograpy|textile|truncatewords_html:130 }}
                </div>
            {% endif %}
            {% block agora_content %}
                {% paginate object_list %}
                {% for action in object_list %}
                    {% include "agora_core/action_item.html" %}
                {% endfor %}
                {% show_more %}
            {% endblock %}

        </div>
        <div class="span4 agora-right-side">
            <div class="row-fluid right-widget agora-calendar">
                <div class="right-widget-header">
                    <h4>{% trans "Calendar" %} <span>({{ agora.get_open_elections.count }})</span></h4>
                    <a class="btn btn-primary" href="{% url election-new agora.creator.username agora.name %}">{% trans "Create election" %}</a>
                    <input type="text" class="input-medium search-query"  value="" placeholder="{% trans "Search..." %}" name="q" />
                </div>
                <div class="row-fluid agora-dates">
                    <ul>
                        {% with election_groups=agora.get_open_elections|elections_grouped_by_date %}
                            {% for elections_date, elections in election_groups.items %}
                                <li>
                                    <time datetime="{{ elections_date.isoformat }}">{{ elections_date|pretty_date }}</time>
                                    <ul>
                                        {% for election in elections %}
                                            {% if forloop.counter < 5 %}
                                                <li>
                                                    <a href="{% url election-view agora.creator.username agora.name election.name %}">
                                                        <img src="{{ STATIC_URL }}img/small-icon-envelope.png" />
                                                        {{ election.pretty_name|truncatechars:40 }}
                                                    </a>
                                                    {# TODO: create templatefilter to check if user voted in an election #}
                                                    <img src="{{ STATIC_URL }}img/small-icon-ok.png" />
                                                </li>
                                            {% elif forloop.counter == 5 %}
                                                <li>
                                                    <a class="remaining" href="{% url agora-elections agora.creator.username agora.name elections_date "open" %}">
                                                    {% blocktrans with remaining=forloop.revcounter0 %}
                                                        ... and {{ remaning }} more elections
                                                    {% endblocktrans %}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% empty %}
                                <li class="empty">
                                    {% trans "No elections yet, perhaps you want to create one?" %}
                                </li>
                            {% endfor %}
                        {% endwith %}
                    </ul>
                </div>
            </div>

            <div class="row-fluid social-icons">

                <div class="span12">
                    <a href="{ % share-agora-on-twitter agora.creator.username agora.name %}">
                        <img src="{{ STATIC_URL }}img/twitter-small-logo.png" alt="{% trans "Share on Twitter" %}" />
                    </a>
                    <a href="{ % share-agora-on-facebook agora.creator.username agora.name %}">
                        <img src="{{ STATIC_URL }}img/facebook-small-logo.png" alt="{% trans "Share on Facebook" %}" />
                    </a>
                    <a href="{ % share-agora-on-identica agora.creator.username agora.name %}">
                        <img src="{{ STATIC_URL }}img/identica-small-logo.png" alt="{% trans "Share on Identica" %}" />
                    </a>
                    <a href="{ % share-agora-on-googleplus agora.creator.username agora.name %}">
                        <img src="{{ STATIC_URL }}img/googleplus-small-logo.png" alt="{% trans "Share on Google Plus" %}" />
                    </a>
                </div>
            </div>

            <div class="row-fluid right-widget right-widget-grey">
                <div class="right-widget-header">
                    <h4>{% trans "Last elections" %} <span>({{ agora.get_tallied_elections.count }})</span></h4>
                </div>
                <div class="row-fluid hover-items">
                    <ul>
                        {% for election in agora.get_tallied_elections|slice:':3' %}
                            <li>
                                <a href="{% url election-view agora.creator.username agora.name election.name %}" class="election">
                                    <strong>{{ election.pretty_name|truncatechars:40 }}</strong>
                                    <time datetime="{{ election.result_tallied_at_date.isoformat }}">
                                        {{ election.result_tallied_at_date|pretty_date }}
                                    </time>
                                    <span>{{ election.get_winning_option|getitem:'value' }}</span>
                                    <small>{% blocktrans with votes=election.get_winning_option|getitem:'total_count' %}({{ votes }} votes){% endblocktrans %}</small>

                                    <div class="progress progress-success progress-small">
                                        <div class="bar" style="width: {{ election.get_winning_option|getitem:'total_count_percentage'|floatformat }}%;">
                                            {{ election.get_winning_option|getitem:'total_count_percentage'|floatformat }}%
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% empty %}
                            <li class="empty">
                                {% trans "No tallied elections yet" %}
                            </li>
                        {% endfor %}

                        {% if agora.get_tallied_elections.count > 3 %}
                            <li>
                                <a class="remaining" href="{% url agora-elections agora.creator.username agora.name elections_date "tallied" %}">
                                    {% trans "... and more" %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %} {% endblock %}
