{% extends 'agora_core/agora_view.html' %}
{% load i18n %}
{% load agora_utils %}
{% load crispy_forms_tags %}
{% load comments %}

{% block title %}{{ agora.creator.username }}/{{ agora.name }} / {% trans "Comments" %}{% endblock %}

{% block agora-navigation %}{% activetab "agora-nav" "comments" %}{{ block.super }}{% endblock %}
{% block content-wrapper-class %}comments{% endblock %}

{% block agora_content %}
{% if request.user.is_authenticated and "comment" in agora|get_perms:request.user %}
    {% crispy form %}
{% else %}
    <div class="clear"></div>
{% endif %}

{{ block.super }}
{% endblock %}