{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block title %}{% trans "Create Election" %}{% endblock %}
{% block footer-wrapper-class %}short{% endblock %}
{% block running-board-wrapper-class %}{% endblock %}

{% block running-board  %}

<div class="row">
    <div class="top-form span9">
        <h1>{% trans "Create election" %}</h1>
        <form>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#election-tab"  data-toggle="tab">{% trans "Election" %}</a>
                </li>
                <li>
                    <a href="#" data-toggle="tab">{% trans "Question #1" %}</a>
                </li>
                <li>
                    <a href="#" data-toggle="tab">{% trans "Question #2" %}</a>
                </li>
                <li><a href="#add-question-tab" data-toggle="tab"><i class="icon-plus"></i> {% trans "Add question" %}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="election-tab">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="name">{% trans "Name" %}</label>
                            <div class="controls">
                                <textarea rows="1" class="input-xxlarge" id="name" placeholder="{% trans "Election name" %}"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description">{% trans "Description" %}</label>
                            <div class="controls">
                                <textarea rows="3" class="input-xxlarge" id="description" placeholder="{% trans "Election description (optional)" %}"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label radio">
                                <input type="radio" name="is_vote_secret" id="is_vote_secret_yes" value="secret" checked />
                                <p>{% trans "Allow voting in secret" %}</p>
                            </label>
                            <label class="radio">
                                <input type="radio" name="is_vote_secret" id="is_vote_secret_no" value="public" />
                                <p>{% trans "All votes are public" %}</p>
                            </label>
                        </div>
                        <div class="control-group spaced-up-control">
                            <label class="control-label checkbox">
                                <input type="checkbox" name="schedule_voting" id="schedule_voting" />
                                <p>{% trans "Schedule start/end voting period" %} <i>({% trans "Optional" %})</i></p>
                            </label>
                            <div class="control-group sub-group-control hide" id="schedule_voting_controls">
                                <div class="input-prepend inline">
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                    <input class="span2 datetimepicker" id="start_voting_date" type="text" placeholder="{% trans "Start voting at.." %}" /> -
                                </div>
                                <div class="input-append inline">
                                    <input class="span2 datetimepicker" id="end_voting_date" type="text" placeholder="{% trans "End voting at.." %}" />
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group spaced-up-control">
                            <button class="btn btn-large btn-block btn-primary add-question" type="button">
                                {% trans "Add question" %}
                            </button>
                            <button class="hide btn btn-large btn-block btn-success add-question" type="button">
                                {% trans "Create election" %}
                            </button>
                        </div>
                    </fieldset>
                </div>
                <div class="tab-pane" id="add-question-tab">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="name">{% trans "Question text" %}</label>
                            <div class="controls">
                                <textarea rows="1" class="input-xxlarge" id="name" placeholder="{% trans "Question text" %}"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">{% trans "Voting system" %}</label>
                            <div class="controls">
                                <div class="btn-group">
                                    <a class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">
                                    <div class="current-item inline" data-id="ONE_CHOICE">{% trans "Classic vote (Plurality)" %}</div>
                                    <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu complete-block">
                                        <li data-id="ONE_CHOICE"><a href="#"><div class="row-fluid">
                                            <div class="span3">
                                                <img src="{% static 'img/plurality_ballot.png' %}"/>
                                            </div>
                                            <div class="span9">
                                                <h3>{% trans "Classic vote" %}</h3>
                                                <p>{% trans "Each <strong>voter chooses only one candidate</strong> and the candidate with more votes wins." %}
                                                </p>
                                                <p><strong>{% trans "Technical name" %}</strong>: {% trans "Plurality" %}</p>
                                            </div>
                                        </div></a></li>
                                        <li class="divider"></li>
                                        <li data-id="MEEK-STV"><a href="#"><div class="row-fluid">
                                            <div class="span3">
                                                <img src="{% static 'img/preferential_ballot.png' %}"/>
                                            </div>
                                            <div class="span9">
                                                <h3>{% trans "Elect a list" %}</h3>
                                                <p>{% trans "Each <strong>voter choose a ranked list of candidates</strong>. This method allows to elect a list of winners.</p>" %}

                                                {% trans "<p>Under Single Transferable Vote, an elector has a single vote that is initially allocated to his most preferred candidate, and then, as the count proceeds and candidates are either elected or eliminated, the <strong>vote is transferred</strong> to other candidates according to the voter's stated preferences." %}
                                                </p>
                                                <p><strong>{% trans "Technical name" %}</strong>: {% trans "Single Transferable Vote - Meek's method (Meek-STV)" %}</p>
                                            </div>
                                        </div></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script-block %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css" />

<style type="text/css">
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui_tpicker_timezone select { max-width: 170px; }
</style>

<script type="text/javascript">
$(document).ready(function() {
    $('.datetimepicker').datetimepicker();
});
</script>
{% endblock %}
