{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}

{% block title %}{% trans "Create Election" %}{% endblock %}
{% block footer-wrapper-class %}short{% endblock %}
{% block running-board-wrapper-class %}{% endblock %}

{% block running-board  %}

<div class="row">
    <input type="hidden" id="agora_id" value="{{agora.id}}" />
    <div class="top-form span9">
    </div>
</div>
{% endblock %}

{% block script-block %}
    {% include "agora_core/client/election_form.html" %}
    <script>
    var ajax_data = null;
    app.currentView = new Agora.ElectionCreateForm();
    </script>
{% endblock %}
