{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Create Election" %}{% endblock %}
{% block footer-wrapper-class %}short{% endblock %}
{% block running-board-wrapper-class %}{% endblock %}

{% block running-board  %}

<div class="row top-form">
    <div class="span7 form-data">
    {% crispy form %}
    </div>


    <div class="span3 form-info" id="agora_new_form_info">
        <img src="{{ STATIC_URL }}img/election_new_form_info.png" alt="{% trans "Create an Election" %}" />
        <h1>1</h1>
        <h2>{% trans "Create an Election" %}</h2>
        <p>
        {% if user in agora.admins.all %}
            {% trans "Create an election inside an agora to decide on some matter." %}
        {% else %}
            {% trans "Request to the admins of the agora having a vote to decide on some matter." %}
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}

{% block script-block %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css" />

<style type="text/css">
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui_tpicker_timezone select { max-width: 170px; }
</style>

<script type="text/javascript">
$(document).ready(function() {
    $('.datetimepicker').datetimepicker();
});
</script>
{% endblock %}
