{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Create Agora" %}{% endblock %}
{% block footer-wrapper-class %}short{% endblock %}
{% block running-board-wrapper-class %}{% endblock %}

{% block running-board  %}

<div class="row top-form">
    <div class="span7 form-data">
    {% crispy form %}
    </div>


    <div class="span3 form-info" id="agora_new_form_info">
        <img src="{{ STATIC_URL }}img/agora_new_form_info.png" alt="{% trans "Create an Agora" %}" />
        <h1>1</h1>
        <h2>{% trans "Create an Agora" %}</h2>
        <p>{% trans "Create the website for your group where votings will take place. " %}</p>
    </div>
</div>
{% endblock %}
