{% load i18n %}
{% load agora_utils %}
{% ifequal row "left" %}
    <div class="votes_list_item row-fluid row-{% if forloop.first %}first{% endif %}">
{% endifequal %}

<div class="span6 span6-{{ row }} ">
    <a href="{ % url user-view object.voter.username %}">
        <div class="row-fluid user">
            <div class="span4">
                <img src="{{ object.voter.get_profile.get_mugshot_url }}" alt="{% trans "User mugshot" %}" />
            </div>
            <div class="span8">
                <strong>{{ object.voter.username|truncatechars:36 }}</strong>
                <p>{{ object.voter.first_name|truncatechars:36 }}</p>
            </div>
        </div>
    </a>
    <div class="row-fluid delegates">
        {% trans "Delegates to:" %}
    </div>
    {% with delegate=object.get_delegate %}
    <a href="{ % url user-view delegate.username %}">
        <div class="row-fluid user delegated">
            <div class="span4">
                <img src="{{ delegate.get_profile.get_mugshot_url }}" alt="{% trans "User mugshot" %}" />
            </div>
            <div class="span8">
                <strong>{{ delegate.username|truncatechars:36 }}</strong>
                <p>{{ delegate.first_name|truncatechars:36 }}</p>
            </div>
        </div>
        {% if delegate|vote_for_election:election %}
            {% with delegate_vote=delegate|vote_for_election:election %}
                <div class="row-fluid vote user delegated">
                <h4>{{ delegate_vote.get_first_pretty_answer|getitem:'question'|truncatechars:49 }}</h4>
                <div>{% trans "Answers:" %} <em>{{ delegate_vote.get_first_pretty_answer|getitem:'answer'|truncatechars:24 }}</em></div>
            {% endwith %}
        </div>
        {% endif %}
    </a>
    {% endwith %}
</div>

{% ifequal row "right" %}
    </div>
{% endifequal %}
