{% load i18n %}
{% load agora_utils %}
{% ifequal row "left" %}
    <div class="votes_list_item row-fluid row-{% if forloop.first %}first{% endif %}">
{% endifequal %}

<div class="span6 span6-{{ row }} ">
    <a href="{ % url user-view object.voter.username %}">
        <div class="row-fluid user">
            <div class="span4">
                <img src="{{ object.voter.get_profile.get_mugshot_url }}" alt="{% trans "User mugshot" %}" />
            </div>
            <div class="span8">
                <strong>{{ object.voter.username|truncatechars:36 }}</strong>
                <p>{{ object.voter.first_name|truncatechars:36 }}</p>
            </div>
        </div>
    </a>
    <div class="row-fluid delegates">
        {% trans "Delegates to:" %}
    </div>
    <a href="{ % url user-view object.voter.username %}">
        <div class="row-fluid user delegated">
            <div class="span4">
                <img src="{{ object.voter.get_profile.get_mugshot_url }}" alt="{% trans "User mugshot" %}" />
            </div>
            <div class="span8">
                <strong>{{ object.voter.username|truncatechars:36 }}</strong>
                <p>{{ object.voter.first_name|truncatechars:36 }}</p>
            </div>
        </div>
    </a>
</div>

{% ifequal row "right" %}
    </div>
{% endifequal %}
