{% extends 'agora_core/election_base.html' %}

{% load i18n %}
{% load agora_utils %}
{% load crispy_forms_tags %}
{% load comments %}

{% block title %}{% trans "Comments" %} - {{ election.pretty_name }} - {{ election.agora.creator.username }}/{{ election.agora.name }}{% endblock %}

{% block election-navigation %}{% activetab "election-nav" "comments" %}{{ block.super }}{% endblock %}
{% block content-wrapper-class %}comments{% endblock %}

{% block election_content %}

{% with permissions=election|get_perms:user %}
{% if form and "comment" in permissions %}
    {% crispy form %}
{% endif %}
{% endwith %}

<div class="clear"></div>

{{ block.super }}
{% endblock %}