{% extends 'agora_core/election_base.html' %}
{% load i18n %}
{% load agora_utils %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block title %}{% trans "Security Center" %} - {{ election.pretty_name }} - {{ election.agora.creator.username }}/{{ election.agora.name }}{% endblock %}

{% block election-navigation %}{% activetab "election-nav" "security-center" %}{{ block.super }}{% endblock %}

{% block content %}
<div class="row" id="election-security-center" style="font-size: 15px">
</div>

{% endblock %}

{% block ajax-data %}{% rest request '/election/' election.id '/' %}{% endblock %}

{% block script-block %}
    <script id="template-election-security-center" type="text/underscore-template">
        <h2><%= gettext("Security Center") %></h2>
        <p><%= gettext("To verify the election, follow these steps") %>:</p>
        <ol>
            <li>
                <%= gettext("Download <a target=\"_blank\" href=\"https://congresotransparente.com/static/agora-verifier\">agora-verifier</a> (you need x64 bits Linux with python and java)") %>
            </li>
            <li>
                <%= interpolate(gettext("Download <a target=\"_blank\" href=\"/media/elections/%s/tally.tar.gz\">the tally for this election</a>"), [id]) %>
            </li>
            <li>
                <%= gettext("Enter the directory where you downloaded both files and execute the following command to verify the tally: <br/><h2>sh agora-verifier tally.tar.gz</h2>") %>
            </li>
        </ol>
    </script>
    <script>
        app.currentView = new Agora.ElectionSecurityCenterView();
    </script>
{% endblock %}