{% extends 'agora_core/election_base.html' %}
{% load i18n %}
{% load agora_utils %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Edit" %} - {{ election.pretty_name }} - {{ election.agora.creator.username }}/{{ election.agora.name }}{% endblock %}

{% block election-navigation %}{% activetab "election-nav" "edit" %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="span8 agora-left-side">
            <div class="form-data admin-form">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}
