{% extends 'agora_core/election_base.html' %}
{% load i18n %}
{% load agora_utils %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block title %}{% trans "Edit" %} - {{ election.pretty_name }} - {{ election.agora.creator.username }}/{{ election.agora.name }}{% endblock %}

{% block election-navigation %}{% activetab "election-nav" "edit" %}{{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="top-form span9">
    </div>
    <div class="span3">
        <h4>{% trans "Did you know..?" %}</h4>
        {% trans "You have to click the save button to apply your changes to the election. Once the election is frozen, you cannot edit it anymore, and next step is either to start it or archive it." %}
    </div>
</div>

{% endblock %}

{% block ajax-data %}{% rest request '/election/' election.id '/' %}{% endblock %}

{% block script-block %}
    {% include "agora_core/client/election_form.html" %}
    <script>
        app.currentView = new Agora.ElectionEditForm();
    </script>
{% endblock %}