{% extends 'agora_core/election_base.html' %}
{% load i18n %}
{% load agora_utils %}
{% load static from staticfiles %}

{% block title %}{% trans "Visual" %} - {{ election.pretty_name }} - {{ election.agora.creator.username }}/{{ election.agora.name }}{% endblock %}
{% block election-navigation %}{% activetab "election-nav" "visual" %}{{ block.super }}{% endblock %}

{% block additional-css %}
    <!-- DRB added -->
    <link rel="stylesheet" href="{% static 'css/liquidv.css' %}" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block election_content %}

<div id="around">
<div id="graph-container" class="container-fluid">
  <div class="row-fluid chrome-height-fix">
    <div class="span12 graph-box">
        <div id="graph"></div>        
    </div>
  </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="graph-data">
            <ul class="legend">
                <li><span class="voter"></span> {% trans "Voter" %}</li>
                <li><span class="choice"></span> {% trans "Choice" %}</li>
                <li><span class="winner"></span> {% trans "Winner" %}</li>
            </ul><button id="graph-dialog-button">detach <img src="/static/img/external.png"/></button><br/><br/>
            <p><span class="graph-info"></span><button id="tally-button">{% trans "tally (client-side)" %}</button></p>
            <!--FIXME this should go on the left -->
            <p><span>{% trans "Mouse wheel to zoom, click and drag the canvas to pan (editing is ON)" %}</span></p>
            </div>
    </div>
    
  </div>
</div>
</div>

<div id="graph-dialog" title="{{ election.pretty_name }} - Visual">
</div>
 

{% endblock %}

{% block script-block %}
<!-- FIXME merge into main -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script src="{% static 'js/agora/views/liquidv.js' %}"></script>


<script>
    var lv = new Liquidv({
        'url': '/',
        'scale': 0.8,
        'vector': [50,50]
    });
    lv.draw({{election.id}});

    $('#graph-dialog').dialog({ autoOpen: false, width: 1000, height: 730 });
    $('#graph-dialog').bind('dialogclose', function(event) {
        $('#around').append($('#graph-container'));
        lv.resize(570, 350);
        $( "#graph-dialog-button" ).prop("disabled", false);
    });
    $( "#graph-dialog-button" ).click(function() {
        $( '#graph-dialog' ).append($('#graph-container'));
        lv.resize(910, 550);
        $( "#graph-dialog-button" ).prop("disabled", true);
        $( '#graph-dialog' ).dialog( "open" );
    });
    </script>
{% endblock %}