{% extends 'agora_core/election_base.html' %}
{% load i18n %}
{% load endless %}
{% load agora_utils %}

{% block title %}{% trans "Delegates" %} - {{ election.pretty_name }} - {{ election.agora.creator.username }}/{{ election.agora.name }}{% endblock %}

{% block election-navigation %}{% activetab "election-nav" "delegates" %}{{ block.super }}{% endblock %}

{% block election_content %}
    {% paginate object_list %}
    {% for object in object_list %}
        <!-- {% cycle "left" "right" as row %} -->
        {% include "agora_core/vote_from_delegate_item.html" %}
        {% if forloop.last and row == "left" %}
                <div class="span6 span6-right">
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% show_more %}
{% endblock %}
