{% load i18n %}
{% load agora_utils %}

{% ifequal row "left" %}
    <div class="user_list_item row-fluid row-{% if forloop.first %}first{% endif %}">
{% endifequal %}

<div class="span6 span6-{{ row }}">
    <a href="{% url election-view object.agora.creator.username object.agora.name object.name %}">
        <div class="row-fluid">
            <div class="span4">
                <img src="{{ object.get_mugshot_url }}" alt="{% trans "Election mugshot" %}" />
            </div>
            <div class="span8">
                <strong>{{ object.pretty_name|truncatechars:50 }}</strong>
                <p>{{ object.short_description|truncatechars:25 }}</p>
            </div>
        </div>
    </a>
</div>

{% ifequal row "right" %}
    </div>
{% endifequal %}
