{% extends "base.html" %}
{% load i18n %}
{% load agora_utils %}

{% block background-wrapper %}
<div id="background-wrapper-fe" class="home">
</div>
{% endblock %}

{% block content-wrapper-class %}hidden{% endblock %}

{% block script-block %}
    <script id="template_featured-election-question" type="text/underscore-template">
        <div class="accordion-group">
            <div class="accordion-heading q-color-<%= i % 8 %>">
                <span class="badge">1</span>
                <a class="accordion-toggle" data-toggle="collapse"
                    data-parent="#bloques" href="#q<%= i %>">
                    <%= gettext(q.question) %>
                </a>
            </div>
            <div id="q<%= i %>" class="accordion-body collapse">
                <div class="accordion-inner">
                    <!--<div class="inner_txt"></div>-->

                    <div class="control-group">
                        <label class="control-label" for="inputIcon">
                            <%= gettext(q.question) %>
                        </label>

                        <table class="question-stv table table-bordered">
                            <thead><tr>
                                <th><%= gettext("Options") %></th>
                            </tr></thead>
                            <tbody>
                                <% for (var j = 0; j < q.answers.length; j++) { %>
                                <tr>
                                    <td class="candidate">
                                        <strong><%= gettext(q.answers[j].value) %></strong>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="template_featured-election-primary-question" type="text/underscore-template">
        <div class="featured-primary-question">
            <h2><%- q.question %></h2>
            <% if (q.winners) { %>
            <strong class="winners">
                <%= gettext("Winners: ") %>
                <% for(var j=0; j < q.winners.length; j++) { %>
                    <%= q.winners[j] %><% if (j + 1 <  q.winners.length) { %>,<% } %>
                <% } %>
            </strong>
            <% } %>
            <div class="candidates-list list-<%- i %>">
            <% for (var j = 0; j < q.answers.length; j++) {
                if (!q.winners || _.contains(q.winners, q.answers[j].value)) { %>
                <div class="candidate" <% if (q.winners) { %>data-pos="<%- q.winners.indexOf(q.answers[j].value) %>"<% } %>>

                    <div class="cand-image">
                        <% if (q.answers[j].media_url) { %>
                            <img src="<%- q.answers[j].media_url %>" class="img-rounded" alt="<%- q.answers[j].value %>"/>
                        <% } else { %>
                            <img src="/static/img/anon_icon.png" class="img-rounded anon-img" alt="<%- q.answers[j].value %>"/>
                        <% } %>
                    </div>
                    <div class="cand-details">
                        <h3 class="name"><% if (q.winners) { %><%- (q.winners.indexOf(q.answers[j].value)+1) %>. <% } %><%- q.answers[j].value %></h3>
                        <a href="#" class="cand-details" data-question-index="<%- i %>" data-option-index="<%- j %>">
                            <%- q.answers[j].details_title %>
                        </a>
                        <% for (var k = 0; k < q.answers[j].urls.length; k++) { %>
                            <a href="<%- q.answers[j].urls[k].url %>" target="_blank" class="cand-link">
                                <%- q.answers[j].urls[k].title %>
                            </a>
                        <% } %>
                    </div>
                </div>
            <% }
            } %>
            </div>
            <% if (q.winners) { %>
                <div class="clear"></clear>
                <div class="table_wrapper"  id="q<%- i %>">
                    <table class="question-stv table table-bordered">
                        <thead><tr>
                            <th><%= gettext("Options") %></th>
                            <% for(var j = 0; j < q_tally.iterations.length; j++) { %>
                            <th>
                                <%= interpolate(gettext("%sº round"), [q_tally.iterations[j].round_stage]) %>
                            </th>
                            <% } %>
                            <th>
                                <%= gettext("Final") %>
                            </th>
                        </tr></thead>
                        <tbody>
                            <% for(var j = 0; j < q.answers.length; j++) { %>
                                <tr>
                                    <td class="candidate">
                                    <% if (q_tally.winners.indexOf(q.answers[j].value) != -1) { %>
                                        <strong><%= gettext(q.answers[j].value) %></strong>
                                    <% } else { %>
                                        <%= gettext(q.answers[j].value) %>
                                    <% } %>
                                    </td>
                                    <% for (var k = 0; k < q_tally.iterations.length; k++) { %>
                                        <td class="<%= q_tally.iterations[k].candidates[j].status %>">
                                            <%= parseFloat(q_tally.iterations[k].candidates[j].count) %>
                                        </td>
                                    <% } %>
                                    <% if (q_tally.winners.indexOf(q.answers[j].value) != -1) { %>
                                        <td class="last won">
                                            <%= gettext("winner") %>
                                        </td>
                                    <% } else { %>
                                        <td class="last">
                                        </td>
                                    <% } %>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
    </script>

    <script id="template-show_option_details_body" type="text/underscore-template">
        <h4><%- gettext("Presentación y motivos") %></h4>
        <p>
            <img src="<%- media_url %>" alt="<%- value %>" />
        </p>
        <p>
            <%= details %>
        </p>
    </script>

    <script id="template_featured-election-tallied-one-choice-question" type="text/underscore-template">
        <div class="accordion-group">
            <div class="accordion-heading q-color-<%= i % 8 %>">
                <span class="badge">1</span>
                <a class="accordion-toggle" data-toggle="collapse"
                    data-parent="#bloques" href="#q<%= i %>">
                    <%= gettext(q.question) %>

                    <% if (q.winners.length == 1) { %>
                        <div class="results">
                            <% for (var j = 0; j < q.answers.length; j++) { %>
                                <% if (q.winners.indexOf(q.answers[j].value) != -1) { %>
                                    <span><%= gettext(q.answers[j].value).substr(0, 50) %></span>
                                    <span class="winner">
                                        <%= q.answers[j].total_count_percentage %>%
                                        (<%= interpolate(gettext("%s votes"), [q.answers[j].total_count]) %>)</span>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                </a>
            </div>
            <div id="q<%= i %>" class="accordion-body collapse">
                <div class="accordion-inner">
                    <!--<div class="inner_txt"></div>-->

                    <div class="control-group">
                        <label class="control-label" for="inputIcon">
                            <%= gettext(q.question) %>
                        </label>

                        <table class="question-stv table table-bordered">
                            <thead><tr>
                                <th><%= gettext("Options") %></th>
                                <th><%= gettext("Votes") %></th>
                                <th><%= gettext("Percent") %></th>
                            </tr></thead>
                            <tbody>
                                <% for (var j = 0; j < q.answers.length; j++) { %>
                                    <tr>
                                        <% if (q.winners.indexOf(q.answers[j].value) != -1) { %>
                                            <td class="candidate">
                                                <strong><%= gettext(q.answers[j].value) %></strong>
                                            </td>
                                            <td class="won">
                                                <%= q.answers[j].total_count %>
                                            </td>
                                            <td class="last won">
                                                <%= q.answers[j].total_count_percentage %>%
                                            </td>
                                        <% } else { %>
                                            <td class="candidate">
                                                <strong><%= gettext(q.answers[j].value) %></strong>
                                            </td>
                                            <td>
                                                <%= q.answers[j].total_count %>
                                            </td>
                                            <td class="last">
                                                <%= q.answers[j].total_count_percentage %>%
                                            </td>
                                        <% } %>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="template_featured-election-tallied-stv-question" type="text/underscore-template">
        <div class="accordion-group">
            <div class="accordion-heading q-color-<%= i % 8 %>">
                <span class="badge">1</span>
                <a class="accordion-toggle" data-toggle="collapse"
                    data-parent="#bloques" href="#q<%= i %>">
                    <%= q.question %>

                    <% if (q.winners.length == 1) { %>
                        <div class="results">
                            <% for (var j = 0; j < q.answers.length; j++) { %>
                                <% if (q.winners.indexOf(q.answers[j].value) != -1) { %>
                                    <span><%= gettext(q.answers[j].value).substr(0, 50) %></span>
                                    <span class="winner">
                                        <%= interpolate(gettext("%s votes"), [parseFloat(q_tally.iterations[q_tally.iterations.length-1].candidates[j].count)]) %></span>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                </a>
            </div>
            <div id="q<%= i %>" class="accordion-body collapse">
                <div class="accordion-inner">
                    <!--<div class="inner_txt"></div>-->

                    <div class="control-group">
                        <label class="control-label" for="inputIcon">
                            <%= q.question %>
                        </label>

                        <strong class="winners">
                            <%= gettext("Winners: ") %>
                            <% for(var j=0; j < q.winners.length; j++) { %>
                                <%= q.winners[j] %><% if (j + 1 <  q.winners.length) { %>,<% } %>
                            <% } %>
                        </strong>

                        <table class="question-stv table table-bordered">
                            <thead><tr>
                                <th><%= gettext("Options") %></th>
                                <% for(var j = 0; j < q_tally.iterations.length; j++) { %>
                                <th>
                                    <%= interpolate(gettext("%sº round"), [q_tally.iterations[j].round_stage]) %>
                                </th>
                                <% } %>
                                <th>
                                    <%= gettext("Final") %>
                                </th>
                            </tr></thead>
                            <tbody>
                                <% for(var j = 0; j < q.answers.length; j++) { %>
                                    <tr>
                                        <td class="candidate">
                                        <% if (q_tally.winners.indexOf(q.answers[j].value) != -1) { %>
                                            <strong><%= gettext(q.answers[j].value) %></strong>
                                        <% } else { %>
                                            <%= gettext(q.answers[j].value) %>
                                        <% } %>
                                        </td>
                                        <% for (var k = 0; k < q_tally.iterations.length; k++) { %>
                                            <td class="<%= q_tally.iterations[k].candidates[j].status %>">
                                                <%= parseFloat(q_tally.iterations[k].candidates[j].count) %>
                                            </td>
                                        <% } %>
                                        <% if (q_tally.winners.indexOf(q.answers[j].value) != -1) { %>
                                            <td class="last won">
                                                <%= gettext("winner") %>
                                            </td>
                                        <% } else { %>
                                            <td class="last">
                                            </td>
                                        <% } %>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="template_background-wrapper-featured-election" type="text/underscore-template">
        <div class="background-wrapper home featured-election">
            <div class="container-fluid hero-unit" id="running-board-wrapper">
                <div class="container">
                    <div class="row">
                            <div class="span7">
                                <h1 class="home-loggedin"><%= gettext(election.pretty_name) %></h1>

                                <% if (!election.result_tallied_at_date && election.voting_starts_at_date && moment(election.voting_starts_at_date)-moment() < 0 && (!election.voting_ends_at_date || moment(election.voting_ends_at_date)-moment() > 0)) { %>

                                    <% if (!is_demo) { %>
                                        <a href="<%= election.url %>/vote"
                                            class="btn btn-success btn-large btn-xxlarge vote-button">
                                            <%= interpolate(gettext("Vote now"), [gettext(election.pretty_name)]) %>
                                        </a>
                                    <% } else { %>
                                        <a href="<%= election.url %>/fake_vote"
                                            class="btn btn-success btn-large btn-xxlarge vote-button">
                                            <%= interpolate(gettext("Vote now (DEMO)"), [gettext(election.pretty_name)]) %>
                                        </a>
                                    <% } %>

                                <% } else { %>
                                    <a href="<%= election.url %>" class="btn vote-button btn-success btn-large btn-xxlarge vote-button"><%= interpolate(gettext("Election details"), [gettext(election.pretty_name)]) %></a>
                                <% } %>
                            </div>
                            <div class="span5 election-description">
                                <!-- TODO: put video or default image here -->
                                <div class="ed-wrapper"><%- election.description.substr(0, 400) %>..</div>

                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="/misc/page/faq" alt="<%- gettext("FAQs") %>">
                                        <%- gettext("FAQs") %>
                                    </a></li>
                                    <% if (election.security_policy.indexOf("ENCRYPT") != -1) { %>
                                      <li><a href="/available-authorities" alt="<%- gettext("Election Authorities") %>">
                                          <%- gettext("Election Authorities") %>
                                      </a></li>
                                      <li><a href="<%- election.url %>/security-center" alt="<%- gettext("Security Center") %>">
                                          <%- gettext("Security Center") %>
                                      </a></li>
                                    <% } %>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-main container">

        <div class="accordion" id="bloques">
        </div>

        <div id="congreso">
        </div>
    </script>

    {% include "agora_core/client/modal_dialog.html" %}

    <script>
        var ajax_data = {
            'agora': {% rest request '/agora/' agora.id '/' %},
            'election': {% rest request '/election/' election.id '/' %},
            'extra_data': {% rest request '/election/' election.id '/extra_data/' %}
        };

        app.currentView = new Agora.FeaturedElectionView();
    </script>
{% endblock %}
