{% extends "base.html" %}
{% load i18n %}
{% load endless %}
{% load agora_utils %}

{% block content-wrapper-class %}home{% endblock %}

{% block content %}
        <div class="row election-content-row">
            <div class="content">
                {% for action in activity %}
                    {% include "agora_core/action_item.html" %}
                {% endfor %}
            </div>
            <div class="sidebar">
                <div class="row-fluid">
                    <img id="home_worldmap" src="{{STATIC_URL }}img/home_worldmap.png" />
                </div>
            </div>
        </div>
{% endblock %}