{% extends "base.html" %}
{% load i18n %}
{% load agora_utils %}

{% block content-wrapper-class %}home{% endblock %}

{% block content %}
        <div class="row election-content-row">
            <div class="activity-list hide" id="activity-list"
                data-url="/api/v1/action/">
            </div>
            <div class="content">
                <div id="activity_items">
                <!-- here will appear the activity items stream -->
                </div>
                <div id="activity_fadeout">
                </div>
            </div>
            <div class="sidebar">
                <div class="row-fluid">
                    <div id="home_worldmap_canvas">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


{% block script-block %}
    {% include "agora_core/client/all_actions.html" %}
    <script>app.currentView = new Agora.HomeAnonymousView();</script>
{% endblock %}