{% extends "base.html" %}
{% load i18n %}
{% load endless %}
{% load agora_utils %}

{% block content-wrapper-class %}home{% endblock %}

{% block content %}
        <div class="row election-content-row">
            <div id="activity_item_list">
                {% for action in activity %}
                    {% include "agora_core/action_item.html" %}
                {% endfor %}
            </div>
            <div class="content">
                <div id="activity_items">
                <!-- here will appear the activity items stream -->
                </div>
                <div id="activity_fadeout">
                </div>
            </div>
            <div class="sidebar">
                <div class="row-fluid">
                    <div id="home_worldmap_canvas">
                    </div>
                </div>
            </div>
            <script src="{{ STATIC_URL }}js/d3.v2.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var currentSlide = 0; // keeps track of current slide
                    var slides = $('#activity_item_list > div'); // this is the original list of slides
                    var slideShowElement = '#activity_items'; // this is where the infinite news scroll will be shown
                    var interval = setInterval(nextSlide, DELAY_SPEED); // used for setInerval
                    var DELAY_SPEED = 4000; // specifies how much time between new items appear

                    // Our projection.
                    var xy = d3.geo.mercator();
                    var path = d3.geo.path().projection(xy);

                    // init
                    slides.each(function() {
                        $(this).appendTo($(slideShowElement));
                    });

                    // Goes to the next slide
                    function nextSlide () {
                        //if the current slide is at the end, loop to the first slide.
                        if (currentSlide >= slides.length -1) {
                            currentSlide = 0;
                        } else {
                            currentSlide++;
                        }

                        // Add a new slide

                        $(slideShowElement + ' > div').first().removeClass('activity-action-first');

                        var newElement = $(slides[currentSlide]).clone().addClass('activity-action-first').hide();

                        newElement.prependTo($(slideShowElement));
                        newElement.animate({"height": "toggle", "opacity": "toggle"}, "slow");
                        $(slideShowElement + ' > div').last().remove();

                        geolocateElement(newElement);

                        //if the auto slide advance is set, stop it, then start again.
                        if (interval != null) {
                            clearInterval(interval);
                        }
                        //Goes to next slide every couple of seconds.
                        interval = setInterval(nextSlide, DELAY_SPEED);
                    }

                    var states = d3.select("#home_worldmap_canvas").append("svg").append("g").attr("id", "states");
                    d3.json("{{ STATIC_URL }}js/world-countries.json",
                        function(collection) {

                            xy.scale(320);
                            var translate = xy.translate();
                            translate[0] = 160;
                            translate[1] = 110;
                            xy.translate(translate);

                            states
                                .selectAll("path")
                                .data(collection.features)
                                .enter().append("path")
                                .attr("d", path);

                            slides.each(function() {
                                geolocateElement($(this));
                            });
                        }
                    );

                    function geolocateElement(element)
                    {
                        var geodata = element.attr("geodata");

                        if (geodata.length > 0) {
                            geodata = geodata.substr(1, geodata.length - 2);
                            geodata = geodata.split(",");
                            // Make appear a point in the map
                            var pos = [parseFloat(geodata[1]), parseFloat(geodata[0])];
                            geolocate(pos);
                        }
                    }

                    function geolocate(pos)
                    {
                        pos = xy(pos);

                        d3.select("#home_worldmap_canvas svg")
                            .append("svg:circle")
                            .style("fill-opacity", "0.1")
                            .style("fill", "red")
                            .attr("r", 10)
                            .attr("cx", pos[0])
                            .attr("cy", pos[1])
                            .transition()
                            .delay(0)
                            .duration(1000)
                            .attr("r", 1.5)
                            .style("fill-opacity", "1")
                            .each("end", animateSecondStep);
                    }

                    function animateSecondStep()
                    {
                        d3.select(this)
                        .transition()
                            .duration(35000)
                            .style("fill-opacity", "0")
                            .each("end", function() {
                                d3.select(this).remove();
                            });
                    };

                });
            </script>
        </div>
{% endblock %}
