{% extends "base.html" %}
{% load i18n endless agora_utils %}
{% load static from staticfiles %}

{% block content-wrapper-class %}home{% endblock %}

{% block running-board-wrapper-class %}home-loggedin{% endblock %}

{% block running-board %}
<div class="span3">
    <div>
        {% if can_create_agoras %}
        <a href="{% url agora-new %}" title="Create a new agora">
            <img src="{{ STATIC_URL }}img/home_step1.png" id="home_step1_img" />
            <h2>1</h2>
            <h3>{% trans "Create a new agora" %}</h3>
            <p>{% trans "Create the place where the votings of your group will be held." %}</p>
        </a>
        {% else %}
        <a href="{% url agora-list %}" title="Join an agora">
            <img src="{{ STATIC_URL }}img/home_step1.png" id="home_step1_img" />
            <h2>1</h2>
            <h3>{% trans "Join an agora" %}</h3>
            <p>{% trans "Join to one of the communities where votings will be held." %}</p>
        </a>
        {% endif %}
    </div>
</div>

<div class="span3">
    <div>
    <a href="{% url agora-list %}" title="Create a new election">
        <img src="{{ STATIC_URL }}img/home_step2.png" id="home_step2_img" />
        <h2>2</h2>
        <h3>{% trans "Create a new election" %}</h3>
        <p>{% trans "Create or propose in an agora a question to put it to the vote." %}</p>
    </a>
    </div>
</div>

<div class="span3">
    <div>
        <a href="{% url election-list %}" title="Delegate and vote">
            <img src="{{ STATIC_URL }}img/home_step3.png" id="home_step3_img" />
            <h2>3</h2>
            <h3>{% trans "Delegate and vote" %}</h3>
            <p>{% trans "You can vote on each question brought up in the agora, or delegate." %}</p>
        </a>
    </div>
</div>

<div class="span3">
    <div class="last">
        <a data-toggle="modal" href="#be-social-modal-dialog" title="Be social">
            <img src="{{ STATIC_URL }}img/home_step4.png" id="home_step4_img" />
            <h2>4</h2>
            <h3>{% trans "Be social" %}</h3>
            <p>{% trans "Follow a friend. Create a delegate. Comment. Participate." %}</p>
        </a>
    </div>
</div>

<div class="modal hide" id="be-social-modal-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
	<h3>Be social</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li><a href="{% url twitter %}">{% trans "Follow on Twitter" %}</a></li>
            <li><a href="{% url facebook %}">{% trans "Like in Facebook" %}</a></li>
            <li><a href="{% url identica %}">{% trans "Follow in Identi.ca" %}</a></li>
            <li><a href="{% url google-plus %}">{% trans "+1 in Google Plus" %}</a></li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="row">
    <div class="span8 agora-left-side">
        <div class="activity-list" id="activity-list" data-endless-smargin="300">
            {% paginate object_list %}
            {% for action in object_list %}
                {% include "agora_core/action_item.html" %}
            {% empty %}
                {% trans "Here your activity will be shown, but you didn't generate any yet." %}
            {% endfor %}
            {% show_more %}
        </div>
    </div>
    <div class="span4 agora-right-side">
        <div class="row-fluid right-widget agora-calendar" id="agora-calendar">
            <div class="right-widget-header">
                <h4>{% trans "Calendar" %} <span>({{ user.get_profile.get_open_elections.count }})</span></h4>
                <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        {% trans "Create election" %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for agora in user.agoras.all %}
                            <li><a href="{% url election-new agora.creator.username agora.name %}">{{ agora.creator.username }}/{{ agora.name }}</a></li>
                            {% if forloop.last %}
                                <li class="divider"></li>
                            {% endif %}
                        {% endfor %}
                        <li><a href="{% url agora-list %}">Find an agora to create an election</a></li>
                    </ul>
                </div>
                <input type="text" class="input-medium election-search-query search-query" autocomplete="off" value="" placeholder="{% trans "Search..." %}" name="q" />
            </div>
            <div class="row-fluid agora-dates">
                <ul>
                    <div id="electionList"></div>
                </ul>
                <div style="display:none">
                    <li id="no-elections" class="empty">
                        {% trans "No elections found in the calendar" %}
                    </li>
                </div>
            </div>
        </div>

        <div class="row-fluid right-widget right-widget-grey agora-list" id="agora-list" data-url="/api/v1/user/agoras/">
            <div class="right-widget-header">
                <h4>{% trans "Agoras" %} <span>({{ user.agoras.count }})</span></h4>
                {% if can_create_agoras %}
                <div class="btn-group">
                    <a class="btn btn-primary" data-toggle="dropdown" href="{% url agora-new %}">
                        {% trans "Create agora" %}
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="row-fluid hover-items last-elections last-agoras">
                <ul class="list-container">
                    <li id="no-agoras" class="hidden">{% trans "No agoras found" %}</li>
                </ul>
            </div>
        </div>
        <!-- here goes: following right-boxes -->
    </div>
</div>
{% endblock %}

{% block script-block %}
{% include "agora_core/include-js-template-election.html" %}
{% include "agora_core/include-js-template-agora.html" %}

<script>app.currentView = new Agora.HomeView();</script>
{% endblock %}
