{% extends 'base.html' %}
{% load i18n %}

{% block script-block %}
<script type="text/javascript" charset="utf-8">
    var endless_on_scroll_margin = 300;
</script>
{% endblock %}

{% block running-board-wrapper-class %}auth-board{% endblock %}
{% block running-board  %}

<h1>{% block subtitle %}{% endblock %}</h1>
{% endblock %}

{% block content %}

{% paginate object_list %}
{% for object in object_list %}
    <!-- {% cycle "left" "right" as row %} -->
    {% block object-block %}{% endblock %}
{% endfor %}


{% show_more %}

{% endblock %}

{% block footer %} {% endblock %}
