{% extends 'agora_core/user_view.html' %}
{% load i18n %}
{% load agora_utils %}

{% block title %}{{ user_shown.name }} / {% trans "Elections" %}{% endblock %}

{% block user-navigation %}{% activetab "user-nav" "elections" %}{{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 agora-left-side">
            {% include "agora_core/election_list_page.html" %}
        </div>
        <div class="span4 agora-right-side">
            <ul class="nav nav-pills nav-stacked">
                <li{% ifequal filter 'open' %} class="active"{% endifequal %}>
                    <a href="{% url user-elections user_shown.username 'open' %}">
                        {% trans "Open" %} ({{ user_shown.get_profile.get_open_elections.count }})
                    </a>
                </li>
                <li{% ifequal filter 'participated' %} class="active"{% endifequal %}>
                    <a href="{% url user-elections user_shown.username 'participated' %}">
                        {% trans "Participated" %} ({{ user_shown.get_profile.get_participated_elections.count }})
                    </a>
                </li>
                <li{% ifequal filter 'requested' %} class="active"{% endifequal %}>
                    <a href="{% url user-elections user_shown.username 'requested' %}">
                        {% trans "Requested" %} ({{ user_shown.get_profile.get_requested_elections.count }})
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}