{% extends "base.html" %}
{% load i18n %}
{% load endless %}
{% load agora_utils %}

{% block script-block %}
    <script src="{{ STATIC_URL }}js/endless_pagination/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/endless_pagination/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 300;
    </script>
{% endblock %}

{% block title %}{{ user_shown.username }}{% endblock %}

{% block running-board-wrapper-class %}agora-running-board election-running-board{% endblock %}
{% block background-wrapper-class %}background-wrapper-no-bottom-shadow{% endblock %}

{% block running-board  %}

    <img class="agora-logo" src="{{ user_shown.get_profile.get_mugshot_url }}" alt="{% blocktrans with username=user_shown.username %}{{ username }} logo{% endblocktrans %}" />
    <div class="item-detail">
        <h1>
            <a href="#">{{ user_shown.username }}</a>
            / {{ user_shown.get_profile.get_fullname }}
        </h1>
        <p>{{ user_shown.get_profile.short_description }}</p>
    </div>

    <ul class="nav nav-tabs">
        {% block user-navigation %}
        <li {% ifactivetab "user-nav" "activity" %}class="active"{% endifactivetab %}>
            <a href="{% url user-view user_shown.username %}">{% trans "Activity" %}</a>
        </li>
        <li {% ifactivetab "user-nav" "biography" %}class="active"{% endifactivetab %}>
            <a href="{% url user-bio user_shown.username %}">{% trans "Biography" %}</a>
        </li>
        <li {% ifactivetab "user-nav" "elections" %}class="active"{% endifactivetab %}>
            <a href="{% url user-elections user_shown.username 'participated' %}">{% trans "Elections" %}
            <span class="badge badge-info">{{ user_shown.get_profile.count_direct_votes }}</span></a>
        </li>
        {% if user == user_shown %}
        <li {% ifactivetab "user-nav" "preferences" %}class="active"{% endifactivetab %}>
            <a href="{ % url user-preferences %}">{% trans "Preferences" %}</a>
        </li>
        {% endif %}
        {% endblock %}
    </ul>
{% endblock %}


{% block content-wrapper-class %}user{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 agora-left-side">
            {% block user-content %}
                {% paginate object_list %}
                {% for action in object_list %}
                    {% include "agora_core/action_item.html" %}
                {% empty %}
                    {% trans "Here your activity will be shown, but you didn't generate any yet." %}
                {% endfor %}
                {% show_more %}
            {% endblock %}
        </div>
        <div class="span4 agora-right-side">
            <div class="row-fluid right-widget right-widget-grey">
                <div class="right-widget-header">
                    <h4>{% trans "Agoras" %} <span>({{ user_shown.agoras.count }})</span></h4>
                    <div class="btn-group">
                        <a class="btn btn-primary" data-toggle="dropdown" href="{% url agora-new %}">
                            {% trans "Create agora" %}
                        </a>
                    </div>
                    <input type="text" class="input-medium search-query"  value="" placeholder="{% trans "Search..." %}" name="q" />
                </div>
                <div class="row-fluid hover-items last-elections">
                    <ul>
                        {% for agora in user_shown.agoras.all %}
                            <li>
                                <a href="{% url agora-view agora.creator.username agora.name %}">
                                    <span class="agora">{{ agora.creator.username }}/<strong>{{ agora.name }}</strong></span>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        {% empty %}
                            <li class="empty">
                                {% trans "He is not a member of an agora yet" %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row-fluid right-widget right-widget-grey agora-list">
                <div class="right-widget-header">
                    <h4>{% trans "Last elections" %} <span>({{ user_shown.get_profile.get_participated_elections.count }})</span></h4>
                    <div class="btn-group">
                        <a class="btn btn-primary" data-toggle="dropdown" href="{% url user-elections user_shown.username 'open' %}">
                            {% trans "Explore" %}
                        </a>
                    </div>
                    <input type="text" class="input-medium search-query"  value="" placeholder="{% trans "Search..." %}" name="q" />
                </div>
                <div class="row-fluid hover-items last-user-elections">
                    <ul>
                        {% for election, vote, pretty_answer in election_items %}
                            <li>
                                <a href="{% url election-view election.agora.creator.username election.agora.name election.name %}" class="election election-result">
                                    <strong>{{ election.pretty_name|truncatechars:40 }}</strong>
                                    <time datetime="{{ election.result_tallied_at_date.isoformat }}">
                                        {{ election.result_tallied_at_date|pretty_date }}
                                    </time>
                                    <span>{{ election.get_winning_option|getitem:'value' }}</span>
                                    <small>{% blocktrans with votes=election.get_winning_option|getitem:'total_count' %}({{ votes }} votes){% endblocktrans %}</small>

                                    <div class="progress progress-success progress-small">
                                        <div class="bar" style="width: {{ election.get_winning_option|getitem:'total_count_percentage'|floatformat }}%;">
                                            {{ election.get_winning_option|getitem:'total_count_percentage'|floatformat }}%
                                        </div>
                                    </div>


                                    <span>{% blocktrans with username=user_shown.username answer=pretty_answer|getitem:'answer' %}{{ username }} answered {{ answer }}
                                    {% endblocktrans %}</span>
                                    <small class="reason">{{ pretty_answer|getitem:'reason' }}</small>
                                </a>
                            </li>
                        {% empty %}
                            <li class="empty">
                                {% trans "This user has not participated in any tallied election yet" %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- here goes: Your agoras and following right-boxes -->
        </div>
    </div>

{% endblock %}
