{% extends "base.html" %}
{% load i18n %}
{% load endless %}
{% load agora_utils %}

{% block script-block %}
    <script src="{{ STATIC_URL }}js/endless_pagination/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/endless_pagination/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        var endless_on_scroll_margin = 300;
    </script>
    
    <script type="text/javascript" charset="utf-8">
        Agora.uv = (function () {
            var module = {};
            
            module.searchResult = function (response) {
                if(response.error == 0) {
                    if(response.data.length > 0) {
                        $( "#agoraList" ).html($( "#agoraTemplate" ).render( response.data ) );
                    }
                    else {
                        $( "#agoraList" ).html($("#no-agoras").html());
                    }
                }
                else {
                    // FIXME error handling (error returned by server)
                }
            };
            
            module.error = function() {
                // FIXME error handling (ajax error)
            }
        
            return module;
        }());
        
        
        $(document).ready(function() {
            var userid = {{ user_shown.id }};
            var search = $('.agora-search-query').val();
            
            // render results for no filter
            Dajaxice.agora_site.agora_core.searchAgoras(Agora.uv.searchResult, {'userid': userid, 'search': ''}, {'error_callback': Agora.uv.error});
            
            $('.agora-search-query').keyup(function(event) {
                var tmp = $('.agora-search-query').val();
                if(search != tmp) {
                    search = tmp;
                    Dajaxice.agora_site.agora_core.searchAgoras(Agora.uv.searchResult, {'userid': userid, 'search': search}, {'error_callback': Agora.uv.error});
                }
            });
        });
    </script>
    
    <script id="agoraTemplate" type="text/x-jsrender">
        <li>
            <a href="{% templatetag openvariable%}>url{% templatetag closevariable%}">
            <span class="agora">{% templatetag openvariable%}>username{% templatetag closevariable%}/<strong>{% templatetag openvariable%}>name{% templatetag closevariable%}</strong>
            </span>
            <i class="icon-arrow-right"></i>
            </a>
        </li>
    </script>
    
{% endblock %}



{% block title %}{{ user_shown.username }}{% endblock %}

{% block running-board-wrapper-class %}agora-running-board election-running-board{% endblock %}
{% block background-wrapper-class %}background-wrapper-no-bottom-shadow{% endblock %}

{% block running-board  %}

    <img class="agora-logo" src="{{ user_shown.get_profile.get_mugshot_url }}" alt="{% blocktrans with username=user_shown.username %}{{ username }} logo{% endblocktrans %}" />
    <div class="item-detail">
        <h1>
            <a href="#">{{ user_shown.username }}</a>
            / {{ user_shown.get_profile.get_fullname }}
        </h1>
        <p>{{ user_shown.get_profile.short_description }}</p>
    </div>

    <ul class="nav nav-tabs">
        {% block user-navigation %}
        <li {% ifactivetab "user-nav" "activity" %}class="active"{% endifactivetab %}>
            <a href="{% url user-view user_shown.username %}">{% trans "Activity" %}</a>
        </li>
        <li {% ifactivetab "user-nav" "biography" %}class="active"{% endifactivetab %}>
            <a href="{% url user-bio user_shown.username %}">{% trans "Biography" %}</a>
        </li>
        <li {% ifactivetab "user-nav" "elections" %}class="active"{% endifactivetab %}>
            <a href="{% url user-elections user_shown.username 'participated' %}">{% trans "Elections" %}
            <span class="badge badge-info">{{ user_shown.get_profile.count_direct_votes }}</span></a>
        </li>
        {% if user == user_shown %}
        <li {% ifactivetab "user-nav" "settings" %}class="active"{% endifactivetab %}>
            <a href="{% url user-settings %}">{% trans "Settings" %}</a>
        </li>
        {% endif %}
        {% endblock %}
    </ul>
{% endblock %}


{% block content-wrapper-class %}user{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 agora-left-side">
            {% block user-content %}
                {% paginate object_list %}
                {% for action in object_list %}
                    {% include "agora_core/action_item.html" %}
                {% empty %}
                    {% trans "Here your activity will be shown, but you didn't generate any yet." %}
                {% endfor %}
                {% show_more %}
            {% endblock %}
        </div>
        <div class="span4 agora-right-side">
            <div class="row-fluid right-widget right-widget-grey">
                <div class="right-widget-header">
                    <h4>{% trans "Agoras" %} <span>({{ user_shown.agoras.count }})</span></h4>
                    <div class="btn-group">
                        <a class="btn btn-primary" data-toggle="dropdown" href="{% url agora-new %}">
                            {% trans "Create agora" %}
                        </a>
                    </div>
                    <input type="text" class="input-medium agora-search-query"  value="" placeholder="{% trans "Search..." %}" name="q" />
                </div>
                <div class="row-fluid hover-items last-elections">
                    <ul>
                        <div id="agoraList"></div>
                    </ul>
                    <div style="display:none">
                        <li id="no-agoras" class="empty">
                            {% trans "No agoras found" %}
                        </li>
                    </div>
                </div>
            </div>
            <div class="row-fluid right-widget right-widget-grey agora-list">
                <div class="right-widget-header">
                    <h4>{% trans "Last elections" %} <span>({{ user_shown.get_profile.get_participated_elections.count }})</span></h4>
                    <div class="btn-group">
                        <a class="btn btn-primary" data-toggle="dropdown" href="{% url user-elections user_shown.username 'open' %}">
                            {% trans "Explore" %}
                        </a>
                    </div>
                    <input type="text" class="input-medium search-query"  value="" placeholder="{% trans "Search..." %}" name="q" />
                </div>
                <div class="row-fluid hover-items last-user-elections">
                    <ul>
                        {% for election, vote, pretty_answer in election_items %}
                            <li>
                                <a href="{% url election-view election.agora.creator.username election.agora.name election.name %}" class="election election-result">
                                    <strong>{{ election.pretty_name|truncatechars:40 }}</strong>
                                    <time datetime="{{ election.result_tallied_at_date.isoformat }}">
                                        {{ election.result_tallied_at_date|pretty_date }}
                                    </time>
                                    <span>{{ election.get_winning_option|getitem:'value' }}</span>
                                    <small>{% blocktrans with votes=election.get_winning_option|getitem:'total_count' %}({{ votes }} votes){% endblocktrans %}</small>

                                    <div class="progress progress-success progress-small">
                                        <div class="bar" style="width: {{ election.get_winning_option|getitem:'total_count_percentage'|floatformat }}%;">
                                            {{ election.get_winning_option|getitem:'total_count_percentage'|floatformat }}%
                                        </div>
                                    </div>


                                    <span>{% blocktrans with username=user_shown.username answer=pretty_answer|getitem:'answer' %}{{ username }} answered {{ answer }}
                                    {% endblocktrans %}</span>
                                    <small class="reason">{{ pretty_answer|getitem:'reason' }}</small>
                                </a>
                            </li>
                        {% empty %}
                            <li class="empty">
                                {% trans "This user has not participated in any tallied election yet" %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- here goes: Your agoras and following right-boxes -->
        </div>
    </div>

{% endblock %}
