{% extends "base.html" %}
{% load i18n %}
{% load agora_utils %}
{% load crispy_forms_tags %}

{% block title %}{% trans "User settings" %}{% endblock %}

{% block content-wrapper-class %}user{% endblock %}
{% block background-wrapper %}{% endblock %}

{% block content %}
    <div class="tabbable tabs-left row" id="user-settings-form">
        <!-- here goes the settings form -->
    </div>

<script id="template-user-settings-form" type="text/underscore-template">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab-profile" data-toggle="tab"><%= gettext("Profile") %></a>
        </li>
        <li>
            <a href="#tab-user" data-toggle="tab"><%= gettext("User settings") %></a>
        </li>
        <li>
            <a href="#tab-account" data-toggle="tab"><%= gettext("Account") %></a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="tab-profile" class="tab-pane active form-data admin-form span7">
            <form>
                <fieldset>

                    <div class="control-group" id="div_id_first_name">
                        <label class="control-label" for="id_first_name">
                            <%= gettext("First name") %>
                        </label>

                        <div class="controls">
                            <input class="textinput textInput" id="id_first_name"
                            maxlength="30" name="first_name" type="text"
                            value="edulix">
                        </div>
                    </div>

                    <div class="control-group" id="div_id_last_name">
                        <label class="control-label" for="id_last_name">
                            <%= gettext("Last name") %>
                        </label>

                        <div class="controls">
                            <input class="textinput textInput" id="id_last_name"
                            maxlength="30" name="last_name" type="text">
                        </div>
                    </div>

                    <div class="control-group" id="div_id_short_description">
                        <label class="control-label" for="id_short_description">
                            <%= gettext("Short Description") %>
                        </label>

                        <div class="controls">
                            <input class="textinput textInput"
                            id="id_short_description" maxlength="140"
                            name="short_description" type="text" value="" />

                            <p class="help-block" id="hint_id_short_description">
                                <%= gettext("Say something about yourself (140 chars max)") %>
                            </p>
                        </div>
                    </div>

                    <div class="control-group" id="div_id_biography">
                        <label class="control-label" for=
                        "id_biography"><%= gettext("Biography") %></label>

                        <div class="controls">
                            <textarea class="textarea" cols="40" id="id_biography"
                            name="biography" rows="10">
                            </textarea>

                            <p class="help-block" id="hint_id_biography">
                                <%= gettext("Tell us about you, use as much text as needed") %>
                            </p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-large btn-block btn-success"
                            id="save_profile" type="button">
                                <%= gettext("Save profile") %>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="tab-user" class="tab-pane form-data admin-form span7">
            <legend><%= gettext("User picture") %></legend>
            <div class='row user-picture'>
                <div class='span3'>
                    <div class='large-user-avatar avatar-canvas' id='avatar-preview'>
                    <img alt="Fadb64d123868b634eb5d9541e8d899f" src=
                    "https://secure.gravatar.com/avatar/fadb64d123868b634eb5d9541e8d899f.png?d=none&amp;r=pg&amp;s=170"></div>
                </div>

                <div class='span3'>
                    <ul class='user-image-options'>
                        <li class='image-setting clearfix'>
                            <a data-method="put" data-remote="true" href=
                            "/users/2813/set_avatar_kind?avatar_kind=gravatar" id=
                            "use_gravatar" rel="nofollow"><span></span>

                            <div class='medium-user-avatar avatar-canvas' id=
                            'image-option-gravatar'>
                                <span><img alt="Fadb64d123868b634eb5d9541e8d899f" src=
                                "https://secure.gravatar.com/avatar/fadb64d123868b634eb5d9541e8d899f.png?d=none&amp;r=pg&amp;s=35"></span>
                            </div>

                            <div class='option-label'>
                                <span>Use gravatar</span>
                            </div></a>
                        </li>

                        <li class='image-setting clearfix'>
                            <a data-method="put" data-remote="true" href=
                            "/users/2813/set_avatar_kind?avatar_kind=initials" id=
                            "use_initials" rel="nofollow"><span></span>

                            <div class='medium-user-avatar avatar-canvas' id=
                            'image-option-initials'>
                                <span>ERE</span>
                            </div>

                            <div class='option-label'>
                                <span>Use initials</span>
                            </div></a>
                        </li>

                        <li class='image-setting'>
                            <a class="btn btn-grey" href="#" id=
                            "upload-new-image">Upload a new image</a>

                            <form accept-charset="UTF-8" action=
                            "/users/2813/upload_new_avatar" class="edit_user" enctype=
                            "multipart/form-data" id="upload-form" method="post" name=
                            "upload-form">
                                <div style="margin:0;padding:0;display:inline">
                                    <input name="utf8" type="hidden" value=
                                    "✓"><input name="authenticity_token" type="hidden"
                                    value=
                                    "mWYaQECLSJLP84Ki1B0kLRPlPvnLVFklS2FrCZlkTOc=">
                                </div><input id="uploaded-avatar" name=
                                "uploaded_avatar" type="file"> <input id=
                                "user-avatar-kind" name="user[avatar_kind]" type=
                                "hidden" value=""> <input id="max-file-size" name=
                                "max_file_size" type="hidden" value="1000">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>

            <form>
                <fieldset>
                    <legend>
                        <%= gettext("Language") %>
                    </legend>

                    <div class="control-group" id="div_id_language">

                        <div class="controls">
                            <div class="btn-group" id="id_language">
                                <a class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">
                                    <div class="current-item inline" data-id="es">
                                        Spanish
                                    </div>
                                    <span class="caret inline"></span>
                                </a>
                                <ul class="dropdown-menu span7">
                                    <li data-id="es" data-usertext="Spanish">
                                        <a href="#">Spanish</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li data-id="en" data-usertext="English">
                                        <a href="#">English</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <%= gettext("Email settings") %>
                    </legend>

                    <div class="control-group" id="div_id_email">
                        <label class="control-label" for="id_email">
                            <%= gettext("Email") %>
                        </label>

                        <div class="controls">
                            <input class="required textinput textInput" id="id_email"
                            maxlength="75" name="email" type="text">

                            <p class="help-block" id="hint_id_email">
                                <%= gettext("Email is visible by agora admins") %>
                            </p>
                        </div>
                    </div>

                    <div class="control-group" id="div_id_email_updates">
                        <div class="controls">
                            <label class="checkbox" for="id_email_updates">
                                <input checked="checked" class= "checkboxinput"
                                id="id_email_updates" name="email_updates"
                                type="checkbox">
                                    <%= gettext("Receive email updates") %>
                            </label>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-large btn-block btn-success"
                            id="save_profile" type="button">
                                <%= gettext("Save email settings") %>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="tab-account" class="tab-pane form-data admin-form span7">
            <form>
                <fieldset>
                <legend>Change password</legend>

                <div class="control-group" id="div_id_current_password">
                    <label class="control-label" for="id_current_password">
                        <%= gettext("Current password") %>
                    </label>

                    <div class="controls">
                        <input class="required textinput textInput"
                        id="current_password" name="current_password"
                        type="password" />

                        <p class="help-block" id="hint_id_current_password">
                            <%= gettext("Provide your current password for security, required field") %>
                        </p>
                    </div>
                </div>

                <div class="control-group" id="div_id_password1">
                    <label class="control-label" for="id_password1">
                        <%= gettext("New password") %>
                    </label>

                    <div class="controls">
                        <input class="required textinput textInput"
                            id="id_password1" name="password1"
                            type="password" />

                        <p class="help-block" id="hint_id_password1">
                            <%= gettext("Specify your new password if you want to change it, or leave it blank") %>
                        </p>
                    </div>
                </div>

                <div class="control-group" id="div_id_password2">
                    <label class="control-label" for="id_password2">
                        <%= gettext("Repeat new password") %>
                    </label>

                    <div class="controls">
                        <input class="required textinput textInput"
                        id="id_password2" name="password2" type="password" />
                    </div>
                </div>

                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-large btn-block btn-success"
                            id="save_profile" type="button">
                                <%= gettext("Change password") %>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</script>

{% endblock %}

{% block script-block %}
<script>
var ajax_data = {
    user: {% rest request '/user/settings/' %},
};
app.currentView = new Agora.UserSettingsView();
</script>
{% endblock %}