{% extends "base.html" %}
{% load i18n %}
{% load agora_utils %}

{% block title %}{{ user_shown.username }}{% endblock %}

{% block running-board-wrapper-class %}agora-running-board election-running-board{% endblock %}
{% block background-wrapper-class %}background-wrapper-no-bottom-shadow{% endblock %}

{% block running-board  %}

    <img class="agora-logo" src="{{ user_shown.get_profile.get_mugshot_url }}" alt="{% blocktrans with username=user_shown.username %}{{ username }} logo{% endblocktrans %}" />
    <div class="item-detail">
        <h1>
            <a href="{% url user-view user_shown.username %}">{{ user_shown.username }}</a>
            / {{ user_shown.get_profile.get_fullname }}
        </h1>
        <p>{{ user_shown.get_profile.short_description }}</p>
    </div>
    <div class="pull-right" id="user_delegate_in_actions">
        <!-- here goes the actions to delegate in this user, if any -->
    </div>

    <ul class="nav nav-tabs">
        {% block user-navigation %}
        <li {% ifactivetab "user-nav" "activity" %}class="active"{% endifactivetab %}>
            <a href="{% url user-view user_shown.username %}">{% trans "Activity" %}</a>
        </li>
        <li {% ifactivetab "user-nav" "biography" %}class="active"{% endifactivetab %}>
            <a href="{% url user-bio user_shown.username %}">{% trans "Biography" %}</a>
        </li>
        <li {% ifactivetab "user-nav" "elections" %}class="active"{% endifactivetab %}>
            <a href="{% url user-elections user_shown.username 'participated' %}">{% trans "Elections" %}
            <span class="badge badge-info">{{ user_shown.get_profile.get_participated_elections.count }}</span></a>
        </li>
        {% endblock %}
    </ul>
{% endblock %}


{% block content-wrapper-class %}user{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 agora-left-side">
            {% block user-content %}
                <div class="activity-list" id="activity-list"
                    data-url="/api/v1/action/user/{{ user_shown.username }}/">
                    <div class="endless-container">
                        <a class="endless_more" href="#">{% trans "more" %}</a>
                        <div class="endless_loading hidden">{% trans "Loading..." %}</div>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="span4 agora-right-side">

            <div class="row-fluid right-widget right-widget-grey" id="user_agora_list">
                <!-- here will go the view with list of agoras with the nice graphs of delegated votes when rendered -->
            </div>

            <div class="row-fluid right-widget right-widget-grey" id="tallied_user_elections_view">
                <!-- here will go the tallied elections view when rendered -->
            </div>
        </div>
    </div>

{% endblock %}

{% block script-block %}

    {% include "agora_core/include-js-template-agora.html" %}
    {% include "agora_core/client/all_actions.html" %}
    {% include "agora_core/client/tallied_user_elections_view.html" %}
    {% include "agora_core/client/user-agora-list.html" %}
    {% include "agora_core/client/user_delegate_in_actions.html" %}
    <script>
        var ajax_data = {
            'tallied_elections': {% rest request '/user/' user_shown.id '/participated_elections/?limit=3' %},
            'user': {% rest request '/user/' user_shown.id '/' %},
            'castvotes_by_agoras': {
                {% for agora in user_shown.agoras.all %}
                '{{ agora.id }}': {% rest request '/delegateelectioncount/?delegate=' user_shown.id '&election__agora=' agora.id %},
                {% endfor %}
            },
            'user_agoras': {% rest request '/user/' user_shown.id '/agoras/' %}
        };
        app.currentView = new Agora.UserView();
    </script>
{% endblock %}
