{% extends "agora_core/user_view.html" %}
{% load i18n %}
{% load endless %}
{% load agora_utils %}

{% block title %}{{ user_shown.name }} / {% trans "Biography" %}{% endblock %}

{% block user-navigation %}{% activetab "user-nav" "biography" %}{{ block.super }}{% endblock %}

{% block user-content %}
    {% url user-settings as edit_bio_url %}
    {% if user_shown.get_profile.biography == "" %}
        <div class="alert alert-info">
        {% if user == user_shown %}
            {% blocktrans %}
                This biography is empty! now you have the opportunity to <a href="{{ edit_bio_url }}">start writing it</a>.
            {% endblocktrans %}
        {% else %}
            {% trans "This biography is empty, sorry about that." %}
        {% endif %}
        </div>
    {% else %}
        {% if user == user_shown %}
            <div class="alert alert-info">
            {% blocktrans %}
                This biography is a bit short, perhaps you can <a href="{{ edit_bio_url }}">improve it adding some additional information</a>.
            {% endblocktrans %}
            </div>
        {% endif %}
        {{ user_shown.get_profile.biography }}
    {% endif %}
{% endblock %}