{% load i18n %}
{% load agora_utils %}
{% ifequal row "left" %}
    <div class="votes_list_item row-fluid row-{% if forloop.first %}first{% endif %}">
{% endifequal %}

<div class="span6 span6-{{ row }}">
    {% if election.ballot_is_open %}
        {% if object.is_public %}
            <a href="{% url 'election-delegate' object.election.agora.creator.username object.election.agora.name object.election.name object.voter.username %}">
        {% else %}
            <a href="{% url 'user-view' object.voter.username  %}">
        {% endif %}
    {% else %}
        <a href="{% url 'user-view' object.voter.username  %}">
    {% endif %}
        <div class="row-fluid user">
            <div class="span4">
                <img src="{{ object.voter.get_profile.get_mugshot_url }}" alt="{% trans "User mugshot" %}" />
            </div>
            <div class="span8">
                <strong>{{ object.voter.username|truncatechars:36 }}</strong>
                <p>{{ object.voter.first_name|truncatechars:36 }}</p>
            </div>
        </div>
    </a>
    <div class="row-fluid vote">
        {% if object.is_public %}
            <h4>{{ object.get_first_pretty_answer|getitem:'question'|truncatechars:49 }}</h4>
            <div>{% trans "Answers:" %} <em>{{ object.get_first_pretty_answer|getitem:'answer'|truncatechars:24 }}</em></div>
        {% else %}
            <div>{% trans "Vote is secret" %}</div>
        {% endif %}
        <p>
        {% if object.reason %}
            {{ object.reason }}
        {% elif object.voter.get_profile.short_description %}
            {{ object.voter.get_profile.short_description }}
        {% else %}
        <strong>{% trans "Bio:" %}</strong> {% blocktrans with username=object.voter.username num_agoras=object.voter.agoras.count num_votes=object.voter.get_profile.count_direct_votes %}{{username}} is a member of {{num_agoras}} agoras and has emitted {{num_votes}} direct votes.{% endblocktrans %}
        {% endif %}
        </p>
    </div>
</div>

{% ifequal row "right" %}
    </div>
{% endifequal %}
