{% load i18n %}
{% load agora_utils %}
{% ifequal row "left" %}
    <div class="vote_from_delegate_list_item row-fluid row-{% if forloop.first %}first{% endif %}">
{% endifequal %}

<div class="span6 span6-{{ row }}">
    <a href="{ % election-delegate object.election.agora.creator.name object.election.agora.name object.election.name object.voter.username %}">
        <div class="row-fluid user">
            <div class="span4">
                <img src="{{ object.voter.get_profile.get_mugshot_url }}" alt="{% trans "User mugshot" %}" />
            </div>
            <div class="span8">
                <strong>{{ object.voter.username|truncatechars:24 }}</strong>
                <p>{{ object.voter.first_name|truncatechars:24 }}</p>
            </div>
        </div>
        <div class="row-fluid vote">
            <h4>{{ object.get_first_pretty_answer|getitem:'question'|truncatechars:33 }}</h4>
            <div>{% trans "Answers:" %} <em>{{ object.get_first_pretty_answer|getitem:'answer'|truncatechars:12 }}</em></div>
            <p>
            {% if object.reason %}
                {{ object.reason }}
            {% else %}
                {{ object.voter.get_profile.short_description }}
            {% endif %}
            </p>
        </div>
    </a>
</div>

{% ifequal row "right" %}
    </div>
{% endifequal %}
