{% load i18n l10n string_tags crispy_forms_tags agora_utils comments markup %}

{% load static from staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <title>{% trans "Voting Booth" %} - {{ election.pretty_name }} - {{ election.agora.creator.username }}/{{ election.agora.name }} / {{ SITE_NAME }}</title>
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/png" />

    <link rel="stylesheet" href="{% static 'less/agora.css' %}" type="text/css" />
</head>
<body data-userid="{{ user.pk }}" data-lang="{{ LANGUAGE_CODE }}" class="voting-booth-body">


    <div id="voting_booth"></div>

    <script id="template-voting_booth" type="text/underscore-template">
        <div class="container">
            <div class="row">
                <div class="span12 round-bordered">
                    <div class="modal-header">
                        <h3>
                            <%= gettext("Agora Voting Booth") %>
                            <a href="mailto:agora-ciudadana-devel@googlegroups.com" class="text-right help_link pull-right" target="_blank"><%= gettext("Help!") %></a>
                        </h3>
                    </div>
                    <div class="current-screen">
                    </div>
                    <div class="modal-header">
                        <small>
                            <%= gettext("Election") %> <a class="inline text-center" href="<%= url %>" target="_blank"><%= pretty_name %></a> <%= pgettext("<election> at <agora>", "at") %> <a class="inline text-center" href="<%= agora.url %>" target="_blank"><%= agora.full_name %></a>
                            </a>
                        </small>
                        <small class="pull-right">
                            <%= gettext("Election fingerprint:") %> <%= hash %>
                        </small>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="template-voting_booth_start_screen" type="text/underscore-template">
        <div class="modal-header hero-vote">
            <div class="text-center">
                <h1><%= pretty_name %></h1>
                <div class="voting-booth-description description markdown-readonly" data-id="description"></div>
            </div>
        </div>
        <div class="modal-header hero-vote">
            <p><%= gettext("To cast a vote you will be led through the following steps:") %>
            </p>
            <ol>
                <li><%= gettext("<strong>Select</strong> your options") %><br/>
                    <%= gettext("Answer the questions one by one.") %>
                </li>
                <li><%= gettext("<strong>Review</strong> your choices") %><br/>
                    <%= gettext("All your choices will be presented to you for review.") %>
                </li>
                <% if (!has_to_authenticate) { %>
                    <li><%= gettext("<strong>Submit</strong> your ballot") %><br/>
                        <%= gettext("Proceed to cast your ballot for tallying.") %>
                    </li>
                <% } else { %>
                    <li><%= gettext("<strong>Authenticate/Register</strong> to <strong>submit</strong> your ballot") %><br/>
                        <%= gettext("You need to authenticate or register to vote. It will take just a minute and we'll receive your ballot at the same time you login or register.") %>
                    </li>
                <% } %>
            </ol>
            <% if (user_has_delegated) { %>
                <p><%= gettext("Currently, you have delegated your vote in this agora. So if you don't vote, this delegate can vote for you.") %></p>
            <% } %>
            <% if (vote_isfake) { %>
                <div class="alert alert-block">
                    <h4>Atención</h4>
                    Esta es una demo de la votación, <a href="/">haz clic aquí para acceder a la votación real</a>
                </div>
            <% } %>
            <button class="btn btn-large btn-block btn-primary btn-start-voting" type="button">
                <%= gettext("Start voting") %>
            </button>
        </div>
    </script>

    <script id="template-voting_booth_question_plurality" type="text/underscore-template">
        <div class="modal-header hero-vote">
            <div class="text-center">
                <h1><%= election_name %></h1>
                <div class="btn-group">
                    <button class="btn btn-primary disabled"><%= gettext("1. Select") %></button>
                    <button class="btn disabled"><%= gettext("2. Review") %></button>
                    <% if (!has_to_authenticate) { %>
                        <button class="btn disabled"><%= gettext("3. Submit") %></button>
                    <% } else { %>
                        <button class="btn disabled"><%= gettext("3. Authenticate and Submit") %></button>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="modal-header hero-vote question">
            <h2><%= gettext(question) %></h2>
            <small>
            <div class="inline">
                <%= interpolate(gettext("Question #%s of %s"), [question_num + 1, num_questions]) %> —
            </div>
            <div class="inline">
                <% if (min == 0) { %>
                    <%= gettext("Select up to one answer") %>
                <% } else {%>
                    <%= gettext("Select one answer") %>
                <% } %>
            </div>
            </small>
            <div class="plurality-options">
                <% for (var i = 0; i < answers.length; i++) { %>
                    <label class="radio">
                        <input type="radio" name="q<%= question_num %>answer" value="<%= answers[i].value %>">
                        <%= answers[i].value %>
                        <a href="#" class="pull-right remove-selection">
                            <i class="icon-white icon-remove"></i>
                            <%= gettext("Remove selection") %>
                        </a>
                    </label>
                <% } %>
            </div>
            <div class="select-info error hide">
                <%= gettext("You haven't chosen an option. Please select one, it's mandatory for this question.") %>
            </div>
            <button class="btn btn-large btn-block btn-continue" type="button">
                <strong><%= gettext("Continue") %></strong>
            </button>
        </div>
    </script>

    <script id="template-voting_booth_question_ranked_choice" type="text/underscore-template">
        <a href="#">
            <small><%= i %>.</small>
            <%= value %>
        </a>
    </script>

    <script id="template-voting_booth_question_ranked" type="text/underscore-template">
        <div class="modal-header hero-vote">
            <div class="text-center">
                <h1><%= election_name %></h1>
                <div class="btn-group">
                    <button class="btn btn-primary disabled"><%= gettext("1. Select") %></button>
                    <button class="btn disabled"><%= gettext("2. Review") %></button>
                    <% if (!has_to_authenticate) { %>
                        <button class="btn disabled"><%= gettext("3. Submit") %></button>
                    <% } else { %>
                        <button class="btn disabled"><%= gettext("3. Authenticate and Submit") %></button>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="modal-header hero-vote question">
            <h2><%= gettext(question) %></h2>
            <small>
            <div class="inline">
                <%= interpolate(gettext("Question #%s of %s"), [question_num + 1, num_questions]) %> —
            </div>
            <div class="inline">
                <% if (min == 0) { %>
                    <%= interpolate(gettext("Select up to %s answers"), [max]) %>
                <% } else {%>
                    <%= interpolate(gettext("Select from %s to %s answers"), [min, max]) %>
                <% } %>
            </div>
            <div class="inline">
                (<%= interpolate(gettext("%s winners"), [num_seats]) %>)
            </div>
            </small>
            <div class="row-fluid ranked-form">
                <div class="span6 available-choices">
                    <p>
                    <strong><%= gettext("Available choices") %>:</strong>
                    <%= gettext("Click to add/remove to your ballot") %></p>
                    <ul class="nav nav-list sidenav">
                        <% for (var i = 0; i < answers.length; i++) { %>
                        <li data-value="<%= answers[i].value %>">
                            <a href="#">
                                <i class="icon-chevron-right"></i>
                                <%= answers[i].value %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <div class="span6 user-choices">
                    <p><strong><%= gettext("Your ballot:") %></strong></p>
                    <ul class="nav nav-list sidenav">
                    </ul>
                </div>
            </div>
            <div class="select-info need-select-more error hide">
                <%= interpolate(gettext("It's mandatory to select at least %s choices in this question."), [min]) %>
            </div>
            <div class="select-info cannot-select-more info hide">
                <%= interpolate(gettext("You reached the maximum number of allowed choices (%s). You can change your choices removing current choices first."), [max]) %>
            </div>
            <button class="btn btn-large btn-block btn-continue" type="button">
                <strong><%= gettext("Continue") %></strong>
            </button>
        </div>
    </script>

    <script id="template-voting_booth_review_questions" type="text/underscore-template">
        <div class="modal-header hero-vote">
            <div class="text-center">
                <h1><%= pretty_name %></h1>
                <div class="btn-group">
                    <button class="btn disabled"><%= gettext("1. Select") %></button>
                    <button class="btn btn-primary disabled"><%= gettext("2. Review") %></button>
                    <% if (!has_to_authenticate) { %>
                        <button class="btn disabled"><%= gettext("3. Submit") %></button>
                    <% } else { %>
                        <button class="btn disabled"><%= gettext("3. Authenticate and Submit") %></button>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="modal-header hero-vote review">
            <h2><%= gettext("Review your choices") %></h2>
            <% for (var i = 0; i < questions.length; i++) { %>
                <table class="review_question table table-bordered">
                    <thead>
                        <tr><th>
                            <%= interpolate(gettext("Question #%s"), [i + 1]) %>.
                            <strong><%= gettext(questions[i].question) %></strong>
                            <a href="#" data-id="<%= i %>">(<%= gettext("Change choices") %>)</a>
                        </th></tr>
                    </thead>
                    <tbody>
                        <% for (var j = 0; j < questions[i].user_answers.length; j++) { %>
                        <tr><td>
                            <% if (questions[i].tally_type == 'MEEK-STV') { %>
                                <small><%= (j+1) %>.</small>
                            <% } %>
                            <%= questions[i].user_answers[j].value %>
                        </td></tr>
                        <% } %>
                        <% if (questions[i].user_answers.length == 0) { %>
                        <tr><td>
                            <%= gettext("&lt;Blank vote&gt;") %>
                        </td></tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
            <label class="checkbox public-warning">
                <input name="user_vote_is_public" id="user_vote_is_public" type="checkbox">
                <div class="mainlabel"><%= gettext("Vote publicly") %></div>
                <span class="optional">
                    <strong><%= gettext("NOTE") %></strong>
                    <%= gettext("Choosing this will allow other users to <strong>view your vote</strong>.") %>
                    <% if (agora.delegation_policy == "ALLOW_DELEGATION") { %>
                        <%= gettext("Others users may <strong>delegate</strong> their vote to you for elections in this agora.") %>
                    <% } %>
                </span>
                <span class="mandatory hide">
                    <strong><%= gettext("NOTE") %></strong>
                    <%= gettext("This will make your vote <strong>public</strong>. You cannot vote in secret in this election. This might be because of different reasons: maybe you are not a member in this agora, or perhaps this election allows only public vote.") %>
                </span>
            </label>
                <input type="text" id="why_id" class="btn-block" placeholder="<%= gettext("Why did you vote this way? (optional)") %>" />
            <button class="btn btn-large btn-block btn-success btn-continue" id="cast-ballot-btn" type="button">
                <% if (!has_to_authenticate) { %>
                    <strong><%= gettext("Confirm choices and cast ballot") %></strong>
                <% } else { %>
                    <strong><%= gettext("Confirm choices and continue") %></strong>
                <% } %>
            </button>
        </div>
    </script>

    <script id="template-voting_booth_vote_cast" type="text/underscore-template">
        <div class="modal-header hero-vote">
            <div class="text-center">
                <% if (is_counted) { %>
                    <h1><%= gettext("Vote Successfully Cast") %></h1>
                <% } else { %>
                    <h1><%= gettext("Vote Received, Waiting Email Confirmation") %></h1>
                <% } %>
                <h3><%= pretty_name %></h3>
            </div>
        </div>
        <div class="modal-header hero-vote vote-cast text-center">
            <h2><a  href="https://twitter.com/intent/tweet?source=webclient&hashtags=CongresoTransparente&text=Acabo+de+votar+desde+mi+esca%C3%B1o+Baldov%C3%AD+la+Reforma+Energ%C3%A9tica+en+el+Congreso+%C2%BFy+t%C3%BA%3F+https%3A%2F%2Fcongresotransparente.com">¡Difunde la votación en Twitter!</a></h2>
        </div>
        <div class="modal-header hero-vote vote-cast">
            <% if (is_counted) { %>
            <p><%= gettext("Congratulations, your vote has been <strong>successfully cast</strong>. You will soon receive a confirmation email") %>.</p>
            <% } else { %>
                <p><%= gettext("We have received your vote but for security reasons we need to check your identity. We have sent you an email with a <strong>link you need to click</strong> if you want your vote to be confirmed. Please check your email address. It might take a while to arrive, be patient. If the email doesn't seem to arrive, please check if it has gone to the SPAM folder or try again to vote.") %>
            <% } %>
            <a class="btn btn-large btn-block btn-primary btn-goback" href="<%= url %>">
                <strong><%= gettext("Go back to the election page") %></strong>
            </a>
        </div>
        <div class="modal-header hero-vote vote-cast">
            <% if ( (!user_has_delegated) && (agora.delegation_policy == "ALLOW_DELEGATION") ) { %>
                <p><%= interpolate(gettext("You can <strong>delegate your vote</strong> so that <strong>in future elections in this agora</strong> <a href=\"%s\">%s</a> this delegate votes for you if you don't find the time to vote"),
                [agora.url, agora.full_name]) %>.</p>

                <a class="btn btn-large btn-block btn-continue" href="<%= url %>/delegates">
                    <strong><%= interpolate(gettext("Choose a delegate for agora %s"), [agora.full_name]) %></strong>
                </a>
            <% } %>
        </div>
    </script>

    <script id="template-voting_booth_encrypting" type="text/underscore-template">
        <div class="modal-header hero-vote">
            <div class="text-center">
                <h1><%= pretty_name %></h1>
                <div class="btn-group">
                    <button class="btn disabled"><%= gettext("1. Select") %></button>
                    <button class="btn disabled"><%= gettext("2. Review") %></button>
                    <% if (!has_to_authenticate) { %>
                        <button class="btn btn-primary disabled"><%= gettext("3. Submit") %></button>
                    <% } else { %>
                        <button class="btn btn-primary disabled"><%= gettext("3. Authenticate and Submit") %></button>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="modal-header hero-vote">
            <h3>
                <%= gettext("Encrypting and securing your ballot. This may take some minutes, please wait.") %>
            </h3>
            <h4>
                <%= gettext("The web browser might freeze during this process: please be patient.") %>
            </h4>
            <div class="progress progress-striped">
                <div id="encrypt_progress" class="bar" style="width: 5%;"><%= gettext("5%") %></div>
            </div>
        </div>
    </script>

    <script id="template-voting_booth_auth_screen" type="text/underscore-template">
        <div class="modal-header hero-vote">
            <div class="text-center">
                <h1><%= pretty_name %></h1>
                <div class="btn-group">
                    <button class="btn disabled"><%= gettext("1. Select") %></button>
                    <button class="btn disabled"><%= gettext("2. Review") %></button>
                    <button class="btn btn-primary disabled"><%= gettext("3. Authenticate and Submit") %></button>
                </div>
            </div>
        </div>
        <div class="modal-header hero-vote">
            <h3>
                <%= gettext("Before casting your ballot: login or register to authenticate your identity.") %>
            </h3>
            <p></p>
            <div class="row-fluid vote-auth-forms">
                <div class="span4">
                    <h2><%= gettext("Enter") %></h2>
                    <p><%= gettext("Try this if you already have an existing user") %></p>
                    <form id="login_vote_form">
                        <input type="text" maxlength="75" name="identification" class="required textinput textInput" id="id_identification" placeholder="<%= gettext("Email or user name") %>" />

                        <input type="password" name="password" class="required textinput textInput" id="id_password" placeholder="<%= gettext("Password") %>" />

                        <div class="clearfix"></div>
                        <input type="hidden" class="hidden-input" value="" />
                        <a href="#" id="loginAndVote" class="btn btn btn-success btn-large">
                            <%= gettext("Login and vote") %>
                        </a>
                    </form>
                </div>
                <div class="span4">
                    <h2><%= gettext("Register") %></h2>
                    <p><%= gettext("Try this if you are new here") %></p>
                    <div class="clearfix"></div>

                    <form id="register_vote_form" enctype="multipart/form-data" method="post">
                        <div class="control-group" id="div_id_scanned_id">
                            <label class="control-label requiredField" for="id_scanned_id">
                                <p class="help-block" id="hint_id_scanned_id">
                                    <strong><%= gettext("DNI escaneado") %></strong>
                                    <%= gettext("Adjunta tu DNI escaneado para poder verificar tu identidad (formato pdf o imagen, max. 1MB)") %>
                                </p>
                            </label>
                            <div class="controls">
                                <input type="file" name="scanned_id" class="clearablefileinput" id="id_scanned_id" />
                            </div>
                        </div>

                        <div class="control-group" id="div_id_first_name">
                            <div class="controls">
                                <input type="text" maxlength="140" name="first_name" class="textinput textInput" id="id_first_name" placeholder="<%= gettext("Name and TWO SURNAMES") %>"/>
                            </div>
                        </div>
                        <div class="control-group" id="div_id_username">
                            <div class="controls">
                                <input type="text" maxlength="30" name="username" class="required textinput textInput" id="id_username" placeholder="<%= gettext("Username") %>"/>
                            </div>
                        </div>

                        <div class="control-group" id="div_id_email">
                            <div class="controls">
                                <input type="text" maxlength="75" name="email" class="required textinput textInput" id="id_email" placeholder="<%= gettext("Email") %>"/>
                            </div>
                        </div>

                        <div class="control-group" id="div_id_password1">
                            <div class="controls">
                                <input type="password" name="password1" class="required textinput textInput" id="id_password1" placeholder="<%= gettext("Password") %>"/>
                            </div>
                        </div>

                        <div class="control-group" id="div_id_password2">
                            <div class="controls">
                                <input type="password" name="password2" class="required textinput textInput" id="id_password2" placeholder="<%= gettext("Repeat Password") %>"/>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <input type="hidden" class="hidden-input" value="" />
                        <input type="hidden" name="csrftoken" value="" />
                        <input type="hidden" name="ballot_data" id="id_ballot_data" value="" />
                        <a href="#" id="registerAndVote" class="btn btn btn-success btn-large">
                            <%= gettext("Register and vote") %>
                        </a>
                    </form>
                </div>

                <div class="span4 last">
                    <h2><%= gettext("..or enter with FNMT cert") %></h2>
                    <div class="text-links">
                        <a target="_blank" href="https://www.sede.fnmt.gob.es/certificados/persona-fisica/obtener-certificado-con-dnie"><%= gettext("Obtain it here") %></a>
                        <%= gettext("or") %>
                        <a target="_blank" href="https://www.sede.fnmt.gob.es/certificados/persona-fisica/obtener-certificado-software"><%= gettext("here with your DNIe") %></a>
                        <p></p>
                    </div>
                    <div class="clearfix"></div>
                    <a class="btn btn-primary btn-large" id="fnmtLoginAndVote" href="#">
                        <%= gettext("Enter with FNMT certificate and vote") %>
                    </a>
                    <p></p>
                    <strong><%= gettext("Terms of service") %></strong>
                    <small>
                        <%= gettext("When you enter using the FNMT certificate or registering, you're accepting our <a href=\"/misc/page/terms-of-service\">Terms of Service.</a>") %>
                    </small>
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript" src="{% url 'jsgettext' %}?language={{ LANGUAGE_CODE }}"></script>
    <!--[if lte IE 8]><script src="{% static 'js/min/main.compat.min.js' %}"></script><![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="{% static 'js/min/main.min.js' %}"></script>
    <!--<![endif]-->


    <!-- Development -->
    {% if DEBUG %}
    <script src="{% static 'js/agora/base.js' %}"></script>
    <script src="{% static 'js/agora/ajax.js' %}"></script>
    <script src="{% static 'js/agora/views/generic.js' %}"></script>
    <script src="{% static 'js/agora/views/election_form.js' %}"></script>
    <script src="{% static 'js/agora/views/voting_booth.js' %}"></script>
    {% else %}
    <script src="{% static 'js/min/agora.min.js' %}"></script>
    {% endif %}

    {% if vote_fake %}
        <div id="vote_fake" data-fakeit="yes-please"></div>
    {% endif %}
    <script>
        var ajax_data = {% rest request '/election/' election.id '/' %};

        var has_to_authenticate = {% if has_to_authenticate %}true{% else %}false{% endif %};
        var AGORA_FNMT_BASE_URL = "{{AGORA_FNMT_BASE_URL}}";
        app.currentView = new Agora.VotingBooth();
    </script>
</body>
</html>
