{% load i18n l10n endless string_tags crispy_forms_tags agora_utils comments markup %}

{% load static from staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <title>{% trans "Voting Booth" %} - {{ election.pretty_name }} - {{ election.agora.creator.username }}/{{ election.agora.name }} / {{ SITE_NAME }}</title>
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/png" />

    <link rel="stylesheet" href="{% static 'less/agora.css' %}" type="text/css" />
        <!-- DRB added -->
        <link rel="stylesheet" href="{% static 'css/liquidv.css' %}" type="text/css" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
</head>
<body data-userid="{{ user.pk }}" data-lang="{{ LANGUAGE_CODE }}">


    <div id="voting_booth"></div>

    <script id="template-voting_booth_start_screen" type="text/underscore-template">
        <div class="modal-header hero-vote">
            <div class="text-center">
                <h1><%= pretty_name %></h1>
                <div class="description markdown-readonly" data-id="description"></div>
            </div>
        </div>
        <div class="modal-header hero-vote">
            <p><%= gettext("To cast a vote you will be led through the following steps:") %></p>
            <ol>
                <li><%= gettext("<strong>Select</strong> your options") %><br/>
                    <%= gettext("Answer the questions one by one.") %>
                </li>
                <li><%= gettext("<strong>Review</strong> your choices") %><br/>
                    <%= gettext("All your choices will be presented to you for review.") %>
                </li>
                <li><%= gettext("<strong>Submit</strong> your ballot") %><br/>
                    <%= gettext("Proceed to cast your ballot for tallying.") %>
                </li>
            </ol>
            <button class="btn btn-large btn-block btn-primary" type="button">
                <%= gettext("Start voting") %>
            </button>
        </div>
        <div class="modal-header">
            <small>
                <%= gettext("Election") %> <a class="inline text-center" href="<%= url %>" target="_blank"><%= pretty_name %></a> <%= gettext("at") %> <a class="inline text-center" href="<%= agora.url %>" target="_blank"><%= agora.full_name %></a>
                </a>
            </small>
            <small class="pull-right">
                <%= gettext("Election fingerprint:") %> <%= hash %>
            </small>
        </div>
    </script>

    <script id="template-voting_booth" type="text/underscore-template">
        <div class="container">
            <div class="row">
                <div class="span12 round-bordered">
                    <div class="modal-header">
                        <h3 class="inline">
                            <%= gettext("Agora Voting Booth") %>
                            <a href="mailto:agora-ciudadana-devel@googlegroups.com" class="text-right help_link pull-right" target="_blank"><%= gettext("Help!") %></a>
                        </h3>
                    </div>
                    <div class="start-screen">
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script type="text/javascript" src="{% url jsgettext %}?language={{ LANGUAGE_CODE }}"></script>
    <script src="{% static 'js/min/main.min.js' %}"></script>

    <!-- Development -->
    {% if DEBUG %}
    <script src="{% static 'js/agora/base.js' %}"></script>
    <script src="{% static 'js/agora/ajax.js' %}"></script>
    <script src="{% static 'js/agora/views/generic.js' %}"></script>
    <script src="{% static 'js/agora/views/election_form.js' %}"></script>
    <script src="{% static 'js/agora/views/voting_booth.js' %}"></script>
    {% else %}
    <script src="{% static 'js/min/agora.min.js' %}"></script>
    {% endif %}

    <script>
        var ajax_data = {% block ajax-data %}{% rest '/election/' election.id '/' %}{% endblock %};
        app.currentView = new Agora.VotingBooth();
    </script>
</body>
</html>