{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags agora_utils %}

{% block footer-wrapper-class %}short{% endblock %}

{% block title %}
{% ifequal action 'login' %}
    {% trans 'Log in'%}
{% else %}
    {% trans 'Register' %}
{% endifequal %}
{% endblock %}

{% block running-board-wrapper-class %}auth-board{% endblock %}
{% block running-board  %}

{% block script-block %}
<script type="text/javascript">
     $(document).ready(function() {
        $(".span3").bind("click", function(e) {
            $(".auth-highlight").removeClass("auth-highlight");
            $(this).addClass("auth-highlight");
        });
    });
</script>
{% endblock %}

<div class="row">
    <div class="span3 {% ifequal action 'login' %}auth-highlight{% endifequal %}">
        <h3>{% trans "Log in" %}</h3>
        <p>{% trans "Please log in to continue." %}</p>
        {% crispy login_form %}
    </div>

    <div class="span3 {% ifequal action 'register' %}auth-highlight{% endifequal %}">
        <h3>{% blocktrans %}New to {{ SITE_NAME }}?{% endblocktrans %}</h3>
        <p>{% blocktrans %}An account in {{ SITE_NAME }} is required to continue.{% endblocktrans %}</p>
        {% crispy register_form %}
    </div>

    {% if AUTHENTICATION_BACKENDS|list_contains:"social_auth.backends.twitter.TwitterBackend" %}
        <div class="span3 use-account">
            <h3>{% trans "Use your account in.." %}</h3>
            <p>{% trans "You can log in using your account in Twitter." %}</p>
            <div>
            <a href="{% url 'socialauth_begin' 'twitter' %}">
                <img src="{{ STATIC_URL }}img/sign-in-with-twitter-l.png" />
            </a>
            </div>
            <strong>{% trans "Privacy" %}</strong>
            <small>{% trans "We won't give any private data to Twitter and we will not use your profile to post anything without your permission." %}</small>
        </div>
    {% endif %}
    {% if AUTHENTICATION_BACKENDS|list_contains:'agora_site.agora_core.backends.fnmt.FNMTBackend' %}
        <div class="span3 use-account">
            <h3>{% trans "Enter with FNMT" %}</h3>
            <p>
            {% trans 'You can enter this site using your FNMT certificate. <a href="#">More information here</a>.' %}</p>
            <div>
            <p>
            <a href="{{AGORA_FNMT_BASE_URL}}/user/login/fnmt/" class="btn btn-primary">
                {% trans "Enter using FNMT certificate" %}
            </a>
            </p>
            </div>
            <strong>{% trans "Terms of service" %}</strong>
            <small>
            {% blocktrans %}When you enter using the FNMT certificate you're accepting our <a href="/misc/page/terms-of-service" target="_blank">Terms of Service</a> and <a href="/misc/page/privacy-policy" target="_blank">Privacy Policy</a>.{% endblocktrans %}</small>
        </div>
    {% endif %}
</div>

{% endblock %}
