{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Finish registration" %}{% endblock %}
{% block running-board-wrapper-class %}auth-board{% endblock %}
{% block running-board  %}

<div class="row">
    <div class="span3 auth-highlight">
    <h3>{% trans "FNMT Certificate - Finish Registration" %}</h3>
    {% crispy form %}
    </div>
    <div class="span3">
    {% trans "Please provide your email address to complete the registration." %}
    </div>
</div>
{% endblock %}

