{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{{ title }}{% endblock %}
{% block running-board-wrapper-class %}auth-board{% endblock %}
{% block running-board  %}

<div class="row">
    <div class="span3">
    </div>
    <div class="span3 auth-highlight">
    {% if validlink %}
    {% crispy form %}
    {% else %}
        {% trans "Sorry, this link has expired or is invalid" %}
    {% endif %}
    </div>
    <div class="span3">
    </div>
</div>
{% endblock %}
