<script id="template-action_target_user" type="text/underscore-template">
    <div class="activity-action" geodata="<%= geolocation %>">
        <a href="<%= actor.url %>" class="mugshot">
            <img src="<%= actor.mugshot_url %>" alt="<%= actor.username %>" />
        </a>
        <div class="action-body">
            <div class="action-title">
                <a href="<%= actor.url %>"><strong class="username"><%= actor.username %></strong></a> <strong class="verb"><%= verb %></strong> <a href="<%= target.url %>"><%= target.username %></a>
                <time class="timeago" title="<%= timestamp %>" datetime="<%= timestamp %>"></time>
            </div>

            <div class="action-detail">
                <a href="<%= target.url %>" class="mugshot">
                    <img src="<%= target.mugshot_url %>" alt="<%= target.username %>" />
                </a>
                <div class="detail-body">
                    <strong class="action-title">
                        <a href="<%= target.url %>">
                            <%= target.username %>
                        </a>
                    </strong>
                    <p><%= target.short_description %></p>
                </div>
            </div>
        </div>
    </div>
</script>