<script id="template-action_target_agora_action_object_comment" type="text/underscore-template">
    <div class="activity-action" geodata="<%= geolocation %>">
        <a href="<%= actor.url %>" class="mugshot">
            <img src="<%= actor.mugshot_url %>" alt="<%= actor.initials %>" />
        </a>
        <div class="action-body">
            <div class="action-title">
                <a href="<%= actor.url %>"><strong class="username">
<% if (actor.full_name && actor.full_name != actor.username) { %>
    <%= actor.full_name %> <em>(<%= actor.username %>)</em>
<% } else { %>
    <%= actor.username %>
<% } %>
</strong></a> <strong class="verb"><%= gettext(verb) %></strong>
                <%= pgettext("<verb> agora <agora>", "agora") %>
                <a href="<%= target.url %>"><%= target.pretty_name %></a>
                <time class="timeago" data-livestamp="<%= timestamp %>" datetime="<%= timestamp %>"></time>
            </div>

            <div class="action-detail">
                <a href="<%= target.url %>" class="mugshot">
                    <img src="<%= target.mugshot_url %>" alt="<%= target.full_name %>" />
                </a>
                <div class="detail-body">
                    <strong class="action-title">
                        <a href="<%= target.url %>">
                            <%= target.full_name %>
                        </a>
                    </strong>
                    <p><%= action_object.comment %></p>
                </div>
            </div>
        </div>
    </div>
</script>