<!-- NOTE: this template is not included anywhere, but it's used to be able to be able to translate these strings that come from the server with gettext -->
<script id="template-actions_i18n" type="text/underscore-template">
<%= gettext("changed settings") %>
<%= gettext("started following") %>
<%= gettext("started voting period") %>
<%= gettext("created") %>
<%= gettext("published results") %>
<%= gettext("joined") %>
<%= gettext("delegated") %>
<%= gettext("frozen") %>
<%= gettext("approved") %>
<%= gettext("proposed") %>
<%= gettext("commented") %>
<%= gettext("vote canceled") %>
<%= gettext("archived") %>
<%= gettext("requested membership") %>
<%= gettext("denied membership request") %>
<%= gettext("added member") %>
<%= gettext("left") %>
<%= gettext("denied admin membership request") %>
<%= gettext("added admin") %>
<%= gettext("removed admin permissions") %>
<%= gettext("left admin permissions") %>
<%= gettext("canceled voto delegation") %>
<%= gettext("edited") %>
<%= gettext("canceled requested admin membership") %>
<%= gettext("canceled his/her membership request") %>
<%= gettext("made admin") %>
<%= gettext("settings updated") %>
<%= gettext("voted") %>
</script>
