<script id="template-add_members_modal_dialog_footer" type="text/underscore-template">
    <a href="#" class="btn btn-primary"><%= gettext("Add members") %></a>
</script>
<script id="template-add_members_modal_dialog_body" type="text/underscore-template">
    <p>
    <%= gettext("Write the emails of the people you wants to invite, separated by commas. If an user exists in agora with a given email, it will be added as a member of this agora directly. Otherwise, an email with an invitation will be sent.") %>
    </p>
    <textarea placeholder="user1@example.com, user2@example.com" class="input-block-level"></textarea>
</script>