<script id="template-agora-calendar-view" type="text/underscore-template">
    <div class="right-widget-header">
        <h4><%= gettext("Calendar") %> <span>(<%= agora.open_elections_count %>)</span></h4>
        <a class="btn btn-primary" href="<%- agora.url %>/election/new"><%= gettext("Create election") %></a>
        <input type="text" class="input-medium election-search-query search-query" autocomplete="off" value="" placeholder="<%- gettext("Search...") %>" name="q" />
    </div>
    <div class="row-fluid agora-dates">
        <ul>
            <div class="list-container"></div>
        </ul>
        <div style="display:none">
            <li id="no-elections" class="empty">
                <%= gettext("No elections yet, perhaps you want to create one?") %>
            </li>
        </div>
    </div>
</script>