{% include "agora_core/client/action_ao_agora.html" %}
{% include "agora_core/client/action_ao_agora_t_user.html" %}
{% include "agora_core/client/action_ao_election.html" %}
{% include "agora_core/client/action_ao_election_v_voted.html" %}
{% include "agora_core/client/action_ao_election_v_voted_public.html" %}
{% include "agora_core/client/action_ao_election_v_voted_public_reason.html" %}
{% include "agora_core/client/action_single_user.html" %}
{% include "agora_core/client/action_t_agora.html" %}
{% include "agora_core/client/action_t_agora_ao_comment.html" %}
{% include "agora_core/client/action_t_election_ao_comment.html" %}
{% include "agora_core/client/action_t_election.html" %}
{% include "agora_core/client/action_t_user.html" %}
{% include "agora_core/client/action_a_user.html" %}