<script id="template-confirm_delegate_modal_dialog_footer" type="text/underscore-template">
    <a href="#" class="btn btn-success" id="confirm-delegate-action"><%= gettext("Yes") %></a>
    <a href="#" class="btn" id="deny-delegate-action"><%= gettext("No") %></a>
</script>
<script id="template-confirm_delegate_modal_dialog_body" type="text/underscore-template">
    <p>
    <%= interpolate(gettext("When you choose someone as your delegate, he/she will vote in your name. Do you want to choose %s as delegate on agora %s?"),
                [delegate.full_name, agora.full_name]) %>
    </p>
</script>
