<script id="template-remove_account_modal_dialog_footer" type="text/underscore-template">
    <a href="#" class="btn btn-danger" id="confirm-remove-account-action"><%= gettext("I understand, please remove my account") %></a>
</script>
<script id="template-remove_account_modal_dialog_body" type="text/underscore-template">
    <p>
    <%= gettext("If you remove your account, you won't be able to use it anymore. To confirm you want to do that, please introduce your password if you enter with password:") %>
    </p>
    <p>
    <input class="input-block-level" id="remove_account_password" type="password" placeholder="Enter your password to remove account.." />
    </p>
</script>
<script id="template-remove_account_modal_dialog_title" type="text/underscore-template">
    <p>
    <%= gettext("Really want to remove your account??") %>
    </p>
</script>

