<script id="template-top-navbar" type="text/underscore-template">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="{{AGORA_BASE_URL}}" class="brand" alt="Congreso Transparente">
                    <img alt="Congreso Transparente"  src="{{ STATIC_URL }}img/congreso_transparente.png" />
                </a>

                <ul class="nav pull-right">
                    <% if (user.id < 0) { %>
                        <li class="dropdown">
                            <a class="link-green dropdown-toggle" id="show-login-link" data-toggle="dropdown" href="#">
                                <%= gettext("Enter") %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu enter-ul">
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <%= languages.current %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu language">
                                <% for(var i = 0; i < languages.objects.length; i++) { %>
                                    <li>
                                        <a href="/misc/set-language/<%= languages.objects[i].lang_code %>" class="action-form-link">
                                            <%= languages.objects[i].name %>
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                    <% } else { %>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <%= user.first_name || user.username %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/accounts/signout/">
                                        <i class="icon-off"></i>
                                        <%= gettext("Log out") %>
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/<%= user.username %>">
                                        <i class="icon-user"></i>
                                        <%= gettext("View my profile") %>
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/settings/">
                                        <i class="icon-edit"></i>
                                        <%= gettext("Account settings") %>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
                <div class="pull-right">
                    <a href="http://coaliciocompromis.net" class="brand" alt="Coalició Compromís">
                        <img alt="Coalició Compromís"  src="{{ STATIC_URL }}img/coalicio_compromis.png" />
                    </a>
                    <a href="http://partidoequo.com" class="brand" alt="Partido Equo">
                        <img alt="Partido Equo"  src="{{ STATIC_URL }}img/equo.png" />
                    </a>
                    <a href="https://agoravoting.com" class="brand" alt="Agora Voting">
                        <img alt="Agora Voting"  src="{{ STATIC_URL }}img/agoralogo.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>