<script id="template-top-navbar" type="text/underscore-template">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand" alt="<%- escapeAttribute(gettext("Home")) %>">
                    <img alt="Agora"  src="{{ STATIC_URL }}img/agora-small.png" />
                </a>
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <%= gettext("Agoras") %>
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <% if (agoras.length > 0) { %>
                                    <li class="nav-header"><%= gettext("My Agoras") %></li>
                                <% } %>
                                <% for (var i = 0; i < agoras.objects.length; i++) { %>
                                    <li>
                                        <a href="<%- agoras.objects[i].url %>">
                                            <%= agoras.objects[i].full_name %>
                                        </a>
                                    </li>
                                <% } %>
                                <% if (agoras.objects.length > 0) { %>
                                    <li class="divider"></li>
                                <% } %>
                                <li>
                                    <a href="/agora/list/">
                                        <i class="icon-search"></i>
                                        <%= gettext("Explore existing agoras..") %>
                                    </a>
                                </li>
                                <li>
                                    <a href="/agora/new/">
                                        <i class="icon-plus"></i>
                                        <%= gettext("Create an Agora") %>
                                    </a>
                                </li>
                            </ul>
                    </li>
                    <% if (open_elections.objects.length > 0) { %>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <%= gettext("Elections") %>
                                <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <% if (open_elections.objects.length > 0) { %>
                                        <li class="nav-header"><%= gettext("Active elections") %></li>
                                    <% } %>
                                    <% for (var i = 0; i < open_elections.objects.length; i++) { %>
                                        <li>
                                            <a href="<%- open_elections.objects[i].url %>">
                                                <%= open_elections.objects[i].pretty_name %>
                                            </a>
                                        </li>
                                    <% } %>
                                    <% if (open_elections.objects.length > 0) { %>
                                        <li class="divider"></li>
                                    <% } %>
                                    <li>
                                        <a href="/elections/list/">
                                            <i class="icon-search"></i>
                                            <%= gettext("Explore other elections") %>
                                        </a>
                                    </li>
                                </ul>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="/elections/list/"><%= gettext("Elections") %></a>
                        </li>
                    <% } %>
                </ul>


                <ul class="nav pull-right">
                    <% if (SHOW_PROFESSIONAL_SERVICES_LINK == "True") { %>
                        <li>
                            <a href="/misc/page/professional/"><%= gettext("Professional services") %></a>
                        </li>
                    <% } %>
                    <% if (user.id < 0) { %>
                        <li class="dropdown">
                            <a class="link-green dropdown-toggle" id="show-login-link" data-toggle="dropdown" href="#">
                                <%= gettext("Enter") %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu row-fluid" id="login-dropdown">
                                <form method="post" class="span6" id="login-form" action="/accounts/signin/">
                                    <h3><%= gettext("Enter with user and password") %></h3>
                                    {% csrf_token %}
                                    <input type="text" maxlength="75" name="identification" class="required textinput textInput" id="id_identification" placeholder="<%- gettext("Email or user name") %>" />

                                    <input type="password" name="password" class="required textinput textInput" id="id_password" placeholder="<%- gettext("Password") %>"/>
                                    <div class="text-links"><a href="/accounts/password/reset/"><%= gettext("Forgot your password?") %></a> | <a href="/accounts/signup/"><strong><%= gettext("Register") %></strong></a></div>

                                    <input type="submit" id="submit-id-submit" class="btn btn btn-success btn-large" value="<%- gettext("Entrar") %>" name="submit">

                                    <input type="hidden" value="login" name="type">
                                </form>
                                <!-- TODO: check if FNMT authentication is enabled -->
                                <div class="span6 use-account">
                                    <h3><%= gettext("..or enter with FNMT cert") %></h3>
                                    <div class="text-links"><%= gettext('<a href="https://www.sede.fnmt.gob.es/certificados/persona-fisica/obtener-certificado-con-dnie" target="_blank">Obtain it here</a> or <a href="https://www.sede.fnmt.gob.es/certificados/persona-fisica/obtener-certificado-software" target="_blank">here with your DNIe</a>') %>
                                    </div>
                                    <div>
                                    <p>
                                    <a class="btn btn-primary" href="{{AGORA_FNMT_BASE_URL}}/user/login/fnmt/">
                                        <%= gettext("Enter with FNMT certificate") %>
                                    </a>
                                    </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="text-links">
                                <%= gettext('When you login with your user you are accepting our <a href="/misc/page/terms-of-service" class="inline">Terms of Service</a>') %>.</div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <%= languages.current %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu language">
                                <% for(var i = 0; i < languages.objects.length; i++) { %>
                                    <li>
                                        <a href="/misc/set-language/<%= languages.objects[i].lang_code %>" class="action-form-link">
                                            <%= languages.objects[i].name %>
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                    <% } else { %>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <%= user.first_name || user.username %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/accounts/signout/">
                                        <i class="icon-off"></i>
                                        <%= gettext("Log out") %>
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/<%= user.username %>">
                                        <i class="icon-user"></i>
                                        <%= gettext("View my profile") %>
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/settings/">
                                        <i class="icon-edit"></i>
                                        <%= gettext("Account settings") %>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
                <form id="search-form" class="nav-search pull-right" action="/search">
                    <input type="text" class="span2 search-query"  value="" placeholder="<%- gettext("Search") %>" name="q" />
                </form>
            </div>
        </div>
    </div>
</script>