env/*
*.pyc
*.sqlite
custom_settings.py
*.kdev4*
*.mo
*.sw?
*.blt
agora_site/whoosh_index/*
celerybeat-schedule
djcelery.schedulers.DatabaseScheduler
docs/_build/
agora_site/media/data/
agora_site/media/mugshots/
