Django==1.4.3
ipdb
ipython
south==0.7.6
django-rosetta
py-bcrypt
django-guardian
django-activity-stream
django-social-auth>=0.7.7
django-crispy-forms
easy_thumbnails
pil
django-haystack
django-endless-pagination
django-debug-toolbar
textile
simplejson
pygeoip
django-dajaxice
celery==3.0.12
django-celery==3.0.11
django-tastypie==0.9.12
whoosh
sphinx
sphinxcontrib-httpdomain
