Django==1.4.3
ipdb
ipython
south==0.7.6
requests
django-rosetta
py-bcrypt
django-guardian
django-activity-stream
django-social-auth>=0.7.7
django-crispy-forms
easy_thumbnails
pil
django-haystack
django-debug-toolbar
textile
simplejson
pygeoip
celery==3.0.12
django-celery==3.0.11
pytz>dev
django-tastypie==0.9.12
whoosh==2.4.1
sphinx
git+https://github.com/edulix/django-jsgettext.git
sphinxcontrib-httpdomain
jsonfield
git+https://github.com/OpenTechStrategies/openstv.git
markdown
pyopenssl
pyasn1
pyasn1_modules