<script id="template-agora" type="text/underscore-template">
    <div class="activity-action" geodata="<%= action.geolocation %>">
        <a href="<%= actor.url %>" class="mugshot">
            <img src="<%= actor.mugshot_url %>" alt="<%= actor.username %>" />
        </a>
        <div class="action-body">
            <div class="action-title">
                <a href="<%= actor.url %>"><strong class="username"><%= actor.username %></strong></a> <strong class="verb"><%= verb %></strong> on election
                <a href="<%= action_object.url %>"><%= action_object.pretty_name %></a> at
                <a href="<%= action_object.agora.url %>"><%= action_object.agora.full_name %></a>
                <time class="timeago" title="<%= timestamp %>" datetime="<%= timestamp %>"></time>
            </div>

            <div class="action-detail">
                <a href="<%= action_object.url %>" class="mugshot">
                    <img src="<%= action_object.mugshot_url %>" alt="<%= action_object.full_name %>" />
                </a>
                <div class="detail-body">
                    <strong class="action-title">
                        <a href="<%= action_object.url %>">
                            <%= action_object.pretty_name %>
                        </a>
                    </strong>
                    <p><%= action_object.short_description %></p>
                </div>
            </div>
        </div>
    </div>
</script>