{% extends 'base.html' %}
{% load i18n %}

{% block footer-wrapper-class %}short{% endblock %}
{% block running-board-wrapper-class %}{% endblock %}

{% block running-board  %}
<div class="row" >
    <div class="hero-unit" style="width: 100%; height: 200px; background-color: transparent;">
        <img src="{{ STATIC_URL }}img/mechanic_pirate.png" alt="{% trans "Mechanic pirate" %}" style="display: block; float: left; padding-right: 15px; margin-left: 150px;"/>
        <h1 style="margin-top: 50px">{% trans "ERROR! 404" %}</h1><br/>
        {% url home as home_url %}
        <p>{% blocktrans %}This page has disappeared. Like magic!</p><p><a href="{{home_url}}">Go to the home page</a> if you don't know what else to do.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}

{% block content %}{% endblock %}
