{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Change your password' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Change your password' %}</h1>
        {% if form %}
            <p>{% trans 'Now that we have verified your identity, you can set your new password. Try not to forget it again. In case you forget it, you can still use again the same form to reset it if you at least remember your username or email address.' %}
            <form action="" method="post">
                {% csrf_token %}
                <fieldset>
                    {% include "main/form_snippet.html" %}
                </fieldset>
                <input class="submit" type="submit" value="{% trans 'Change password' %}"/>
            </form>
        {% else %}
            <p>{% trans '<strong>¡Error!</strong> This confirmation link is invalid or has expired. Check that you accessed the correct link, or try again to reset your password.' %}</p>
        {% endif %}
    </div>
{% endblock %}
