{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Did you forget your password?' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Did you forget your password?' %}</h1>
        <p>{% trans 'Fill the following form so that we can send you a link to your email address which will let you change your password.' %}
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% include "main/form_snippet.html" %}
            </fieldset>
            <input class="submit" type="submit" value="{% trans 'Send verification email' %}"/>
        </form>
    </div>
{% endblock %}
