{% load i18n %}{% url user-remember-confirm uid token as url_remember %}{% blocktrans with user.username as username %}Hi,

You are receiving this email because you requested to reset your
password for your account in {{ protocol }}://{{ site_name }}.
If you didn't request to reset your password, you should ignore this
message. You can change your password in the following address:

{{ protocol }}://{{ domain }}{{ url_remember }}

Yor username, in case you forgot it, is: {{ username }}

Thanks for using our web site!

--
The team of {{ site_name }}{% endblocktrans %}