<script id="template-search-profile-item" type="text/underscore-template">
    <div class="result-item user-result">
        <a href="<%= obj.url %>">
            <div class="row">
                <div class="span2">
                    <img src="<%= obj.mugshot_url %>" />
                </div>
                <div class="span6">
                    <strong><%= obj.username %><% if (obj.full_name && obj.full_name != obj.username) { %> <%= obj.full_name %> <% } %></strong>
                    <p>
                        <%= obj.short_description %>
                    </p>
                </div>
            </div>
        </a>
    </div>
</script>