<script id="template-search-election-item" type="text/underscore-template">
    <div class="result-item agora-result">
        <a href="<%= url %>">
            <div class="row">
                <div class="span2">
                    <img src="<%= mugshot_url %>" />
                </div>
                <div class="span6">
                    <strong>
                        <!-- TODO: mover este gettext a la vista backbone y pasar aquí el resultado en una variable -->
                        <%= gettext('%(electionname)s at %(agora_full_name)s') %>
                        <!-- {
                            'electionname': pretty_name,
                            'agora_full_name': agora.full_name
                        } -->
                    </strong>
                    <p><%= short_description %></p>
                </div>
            </div>
        </a>
    </div>
</script>
