<script id="template-search-election-item" type="text/underscore-template">
    <div class="result-item agora-result">
        <div class="row bottom-bordered">
            <div class="span2">
                <a href="<%= url %>">
                    <img src="<%= mugshot_url %>" />
                </a>
            </div>
            <div class="span6">
                <strong>
                    <a href="<%= url %>">
                        <%= election_at %>
                    </a>
                </strong>
                <p><%= short_description_md %></p>
            </div>
        </div>
    </div>
</script>
