<script id="template-agora" type="text/underscore-template">
    <div class="result-item agora-result">
        <a href="<%= obj.url %>">
            <div class="row">
                <div class="span2">
                    <img src="<%= obj.mughsot_url %>" />
                </div>
                <div class="span6">
                    <strong><%= obj.full_name %></strong>
                    <p><%= obj.short_description %></p>
                </div>
            </div>
        </a>
    </div>
</script>

