<script id="template-search-election-item" type="text/underscore-template">
    <div class="result-item agora-result">
        <a href="<%= url %>">
            <div class="row bottom-bordered">
                <div class="span2">
                    <img src="<%= mugshot_url %>" />
                </div>
                <div class="span6">
                    <strong>
                        <%= election_at %>
                    </strong>
                    <p><%= short_description %></p>
                </div>
            </div>
        </a>
    </div>
</script>
