<script id="template-search-profile-item" type="text/underscore-template">
    <div class="result-item user-result">
        <a href="<%- url %>">
            <div class="row bottom-bordered">
                <div class="span2">
                    <img src="<%- mugshot_url %>" alt="<%- escapeAttribute(initials) %>" class="mugshot" />
                </div>
                <div class="span6">
                    <strong class="username">
                    <% if (full_name && full_name != username) { %>
                        <%= full_name %> <em>(<%= username %>)</em>
                    <% } else { %>
                        <%= username %>
                    <% } %>
                    </strong>
                    <p>
                        <%= short_description %>
                    </p>
                </div>
            </div>
        </a>
    </div>
</script>