{% load i18n %}
{% load agora_utils %}

{% if result|is_content_type:"agora" %}
    <div class="result-item agora-result">
        <a href="{% url agora-view result.creator.username result.name %}">
            <div class="row">
                <div class="span2">
                    <img src="{{ result.get_mugshot_url }}" />
                </div>
                <div class="span6">
                    <strong>{{ result.creator.username }}/{{ result.name }}</strong>
                    <p>{{ result.short_description }}</p>
                </div>
            </div>
        </a>
    </div>
{% elif result|is_content_type:"election" %}
    <div class="result-item agora-result">
        <a href="{% url election-view result.agora.creator.username result.agora.name result.name %}">
            <div class="row">
                <div class="span2">
                    <img src="{{ result.get_mugshot_url }}" />
                </div>
                <div class="span6">
                    <strong>
                        {% blocktrans with user=result.agora.creator.username agoraname=result.agora.name electionname=result.pretty_name %}
                        {{ electionname }} at {{ user }}/{{ agoraname }}
                        {% endblocktrans %}
                    </strong>
                    <p>{{ result.description }}</p>
                </div>
            </div>
        </a>
    </div>
{% elif result|is_content_type:"user" %}
    <div class="result-item user-result">
        <a href="{% url user-view result.user.username %}">
            <div class="row">
                <div class="span2">
                    <img src="{{ result.get_mugshot_url }}" />
                </div>
                <div class="span6">
                    <strong>{{ result.user.username }} ({{ result.get_fullname }})</strong>
                    <p>
                        {% if result.short_description %}
                            {{ result.short_description }}
                        {% else %}
                            {% blocktrans with num_agoras=result.user.agoras.count num_votes=result.count_direct_votes %}
                                Is a member of {{num_agoras}} agoras and has emitted {{num_votes}} direct votes.
                            {% endblocktrans %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
    </div>
{% endif %}