svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  // cursor: pointer;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.votes {
  text-anchor: middle;
  font-weight: bold;
}

.graph-box {
border-radius:14px 14px 0 0;
background-color:#ececec;
vertical-align:top;
/* height: 350px; */
}

.chrome-height-fix {
height: 350px;
}
		
.graph {
margin-left:10px;
margin-top:10px;
margin-bottom:10px;
margin-right:10px;
}

.graph-info {
font: 10px sans-serif;
color:#888;
}

#tally-button {
float: right;
}
#graph-dialog-button {
float: right;

}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; font: 14px sans-serif; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .voter { background-color: blue; }
.legend .choice { background-color: green; }
.legend .winner { background-color: red; }

/*.group text {
  font: 11px sans-serif;
  pointer-events: none;
}*/